@media all and (min-width: 768px),print {


    .page-header.type1 .sections.nav-sections{
        background-color:#fff;
        margin-bottom:0;
        border-bottom:1px solid#eff0d5;
    }

    .block-search {
        width: 350px !important;
    }
}


.page-header.type1 .block-search input {
    border-color: #c9d22d;
    border-width: 1px;
    border-style: solid;
}
.minicart-wrapper {
    width: 250px;
    height: 40px;
    background-color: #699847;
    border-spacing: 10px;
    background-image: url('../images/minicart-bg.png');

}

.minicart-wrapper .action.showcart:before {
    content: none !important;
}
.minicart-wrapper:before, .minicart-wrapper:after {
    content: none !important;
}

.minicart-wrapper .action.showcart .counter.qty {
    position: static;
    width: 150px;
    height: 3rem;
    margin: 0.5rem 0;
    line-height: 30px;
}

.minicart-wrapper .action.showcart {
    vertical-align: top;
    height: 40px;
}
.minicart-wrapper .block-minicart{

    right: 0 !important;
    width: 450px !important;
    margin-top: 0px;
    /* background-color: #598D32; */
    color: #21293c;
}
.page-header.type1 a, .page-header.type2 a, .page-header.type2 .custom-block a, .page-header.type3 a, .page-header.type4 a, .page-header.type20 a, .page-header.type21 a, .page-header.type21 .top-links-icon, .page-header.type21 .top-links-icon a, .page-header.type5 a, .page-header.type6 a, .page-header.type19 a, .page-header.type7 a, .page-header.type23 a, .page-header.type8 a, .page-header.type9 a, .page-header.type10 a, .page-header.type11 a, .page-header.type11 .custom-block a, .page-header.type12 .header.panel .custom-block a, .page-header.type16 .custom-block a, .page-header.type17 .custom-block a, .page-header.type18 .custom-block a, .page-header.header-newskin a, .page-header.header-newskin .top-links-icon, .page-header.header-newskin .top-links-icon a{
color:#ffffff !important;
}
.minicart-items .product-item-details .price{
color:#ffffff;
}
.price-container .price{
color:#ffffff;
}
/**/
.action.primary{
background-color: #A5C191;
border-color: #FFFFFF;
color: #FFFFFF;

}
.block-minicart .items-total .count
{
color:#ffffff;
}
.minicart-wrapper .block-minicart{
border:none;
box-shadow:none;
}
.product-image-wrapper{
    display: block;
}
.page-header, .minicart-wrapper .block-minicart, .product.data.items > .item.title.active > .switch, .product.data.items > .item.title.active > .switch:focus, .product.data.items > .item.title.active > .switch:hover, .authentication-dropdown, .login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage, .featured-box .box-content, .history .featured-box .box-content, .form.search.advanced, .homepage-grid-banner .ribbon::before, .cms-index-index .testimonial-arrow-down, #newsletter_popup, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary, .block-header-customer-login
{
border:none;
}
.minicart-wrapper .block-minicart::before, .prev-next-products .product-nav .product-pop::before, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary::before, .block-header-customer-login::before{
border:none;
}
.minicart-wrapper .block-minicart::after{
border:none;
}

.product-item-name{
color:#FFF;
}

.minicart-items .product-item-details{
padding:0;
}
.top-cart-btn-checkout{
color:#000;
}
/**/
.minicart-wrapper .minicart-icon {
    color: #fff;
    font-size: 30px;
    margin: 0.5rem 1rem;
    vertical-align: inherit;
}


.minicart-wrapper .divider {
    display: inline-block;
    right: 40px;
    position: absolute;
    border-left: 1px solid #58843c;
    border-right: 1px solid #97b580;
    height: 40px;
    margin: 0 2px;
    vertical-align: inherit;
}

.minicart-wrapper .arrow {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 4px 4px;
    padding-top: 5px;
    text-align: center;
    vertical-align: inherit;
}

.minicart-wrapper .arrow-down-icon {
    color: #fff;
    font-size: 20px;
}

.header.page-header.sticky-header{
    background-image: url('http://lampan.geborek.com/pub/media/porto/header_bg/default/main_background.png');
}
/*Custom*/
header.page-header {
    background: #fff;
}
header.page-header .wrapper {
    display: none;
}
/*Custom close*/
