<?php
    /** @var \Magento\Catalog\Model\Category $categories */
    $categories = $this->getCategories();
?>

<?php if ($categories->getSize() > 0): ?>
<div id="product.view.categories">
    <p><?php echo __("Categories:");?>
    <?php foreach($categories as $category): ?>
        <a href="<?php echo $category->getUrl() ?>"><?php echo $category->getName() ?></a>
    <?php endforeach; ?>
    </p>
</div>
<?php endif; ?>