<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
    $_helper = $this->helper('Smartwave\Porto\Helper\Data');
    
    $title = $_helper->getConfig('porto_settings/footer/footer_newsletter_title');//"Be the First to Know";
    $sub_title = $_helper->getConfig('porto_settings/footer/footer_newsletter_text');//"Get all the latest information on Events,<br>Sales and Offers. Sign up for newsletter today.";
?>
<div class="block newsletter">
  <!--  <div class="block-title"><strong><?php echo __($title); ?></strong>
	   <p><?php echo __($sub_title); ?></p>
	</div> -->
    <div class="content">
        <label for="footer_newsletter"><?php echo __('Enter your email address') ?></label>
        <form class="form subscribe"
            novalidate
            action="<?php echo $block->getFormActionUrl() ?>"
            method="post"
            data-mage-init='{"validation": {"errorClass": "mage-error"}}'
            id="newsletter-validate-detail">
            <div class="field newsletter">
                <label class="label" for="footer_newsletter"><span><?php echo __('Sign Up for Our Newsletter:') ?></span></label>
                <div class="control">
                    <input name="email" placeholder="Email Address" type="email" id="footer_newsletter"
                                data-validate="{required:true, 'validate-email':true}"/>
                </div>
            </div>
            <div class="actions">
                <button class="action subscribe primary" title="<?php echo __('Subscribe') ?>" type="submit">
                    <span><?php echo __('Subscribe') ?></span>
                </button>
            </div>
        </form>
    </div>
</div>
