<?php
//@codingStandardsIgnoreFile
/** @var \Ecomatic\CacheWarmer\Block\Adminhtml\Page\QuickReport $block */
$report = $block->getReport();
?>

<div class="cache-warmer__quick-report">
    <?php $p = $report['in_cache'] / $report['total'] * 100 ?>
    <div class="bar-container">
        <div class="in_cache" style="width: <?= ceil($p) ?>%" title="<?= round($p, 1) ?>%">
            <span><?= __('In cache') ?></span> <i>~<?= ceil($p) ?>%</i>
        </div>
    </div>

    <?php $p = $report['pending'] / $report['total'] * 100 ?>
    <div class="bar-container">
        <div class="pending" style="width: <?= ceil($p) ?>%" title="<?= round($p, 1) ?>%">
            <span><?= __('Pending') ?></span> <i>~<?= ceil($p) ?>%</i>
        </div>
    </div>

    <?php $p = $report['unknown'] / $report['total'] * 100 ?>

    <div class="bar-container">
        <div class="unknown" style="width: <?= ceil($p) ?>%" title="<?= round($p, 1) ?>%">
            <span><?= __('Unknown') ?></span> <i>~<?= ceil($p) ?>%</i>
        </div>
    </div>

    <div class="info">
        <p><strong>Cache Type:</strong> <?= $block->getCacheType() == 1 ? 'Built-in' : 'Varnish' ?></p>
        <p><strong>Cache TTL:</strong> <?= $block->getCacheTtl() ?></p>
    </div>
</div>

<div class="cache-warmer__quick-chart">
    <?php
    $rates = $block->getFillRates();
    $from = $to = '';
    $points = [];
    if (count($rates) > 1) {
        $from = array_keys($rates)[0];
        $to = array_keys($rates)[count($rates) - 1];

        $points = [0, 100];
        $i = 0;

        foreach ($rates as $rate) {
            $points[] = round(100 / (count($rates) - 1) * $i, 3);
            $points[] = 100 - $rate;
            $i++;
        }
        $points[] = 100;
        $points[] = 100;
    }
    ?>
    <svg width="100%" height="65px" preserveAspectRatio="none" viewBox="0 0 100 100" version="1.1"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">
        <polygon fill="#47cd4a" fill-rule="evenodd" points="<?= implode(' ', $points) ?>"></polygon>

        <path d="M99,10 L100,10" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,20 L100,20" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,30 L100,30" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,40 L100,40" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,50 L100,50" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,60 L100,60" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,70 L100,70" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,80 L100,80" stroke="#e3e3e3" stroke-width="1"></path>
        <path d="M99,90 L100,90" stroke="#e3e3e3" stroke-width="1"></path>
    </svg>

    <div class="label from"><?= $from ?></div>
    <div class="label to"><?= $to ?></div>
    <div class="label min">0%</div>
    <div class="label max">100%</div>
</div>