/*
*   TM_AjaxCatalog
*/
#search_mini_form {
  position: relative;
}

body.ajax-loading #search.input-text:focus {
  background-image: url(../images/loader-dark.gif);
  background-position: 90% 50%;
  background-repeat: no-repeat;
  background-size: 15px 15px;

}

#search.input-text {
  padding-left: 20px;
}

#search_mini_form input[aria-haspopup="false"] + #search_autocomplete ul[role=listbox] {
  overflow: hidden;
}
#search_mini_form .search-autocomplete {
  overflow: hidden;
  position: static;
  max-height: 350px;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}
#search_mini_form .search-autocomplete::after {
  content: '';
  position: absolute;
  top: 320px;
  left: 0;
  z-index: 9999;
  width: 120%;
  height: 30px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+52&0+0,1+52 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 72%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 72%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 72%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
}
#search_mini_form .search-autocomplete ul[role=listbox] {
  overflow-y: scroll;
  position: static;
  max-height: 350px;
  margin-right: -20px;
  z-index: 10;
  display: block;
}
#search_mini_form .search-autocomplete ul li.search-item {
  border-bottom: solid 1px #ccc;
  border-top: none;
  padding: 10px;
  padding-right: 30px;
}
#search_mini_form .search-autocomplete ul li.search-item .amount {
  position: static;
}
#search_mini_form .search-autocomplete ul li.search-item a {
  display: block;
  overflow: hidden;
  line-height: normal;
  text-decoration: none;
  margin: -10px;
  padding: 10px;
}
#search_mini_form .search-autocomplete ul li.search-item a .search-thumb {
  float: left;
  width: 50px;
  margin-right: 10px;
}
#search_mini_form .search-autocomplete ul li.search-item a .qs-option-name {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
#search_mini_form .search-autocomplete ul li.search-item a .price {
  display: block;
  color: #313131;
  font-size: 16px;
}
#search_mini_form .search-autocomplete ul li.search-item:hover {
  background: none;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15) inset;
}
