<?php
/**
 * @var $block \Addwish\Awext\Block\TrackConversion
 */

$orderItems = $block->getOrderItems();
?>
<?php if ($block->isConversionTrackingEnabled()): ?>
    <span class="addwish-conversion"
          style="display:none;"
          data-ordernumber="<?php echo $block->getIncrementId() ?>"
          data-total="<?php echo $block->getSubtotal() ?>"
          data-email="<?php echo $block->getCustomerEmail() ?>"
    >
        <?php foreach($orderItems as $item): ?>
        <span class="addwish-product"
              data-url="<?php echo $block->getProductUrl($item)?>"
              data-productnumber="<?php echo $item->getSku() ?>"
              data-quantity="<?php echo $item->getQtyOrdered() ?>"
        >
        </span>
        <?php endforeach; ?>
    </span>
<?php endif; ?>