<?php
/**
 *
 * @category    NWT
 * @package     NWT_KCO
 * @copyright   Copyright (c) 2016 Nordic Web Team ( http://nordicwebteam.se/ )
 * @license     NWT Commercial License (NWTCL 1.0)
 *
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \NWT\KCO\Block\Payment\Checkout\Info
 */

?>


<dl class="payment-method nwtkco order">
    <dt class="title"><?php echo $block->escapeHtml($block->getMethod()->getTitle()) ?></dt>
    <dd class="content">
        <strong><?php echo $block->escapeHtml(__('Klarna Order Number')) ?></strong>
        <span class="number"><?php echo $block->escapeHtml($block->getInfo()->getAdditionalInformation('reservation')) ?></span>
    </dd>
</dl>
