.ecomatic-logo {
    background-image: url('Ecomatic_Base::images/ecomatic-logo.png');
    background-size: auto 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.admin__menu .item-ecomatic-base > a::before {
	content: url('Ecomatic_Base::images/ecomatic-logo-small.png') !important;
	font-size: 2.4rem !important;
	position: relative !important;
	top: -0.2rem !important;
}