<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @see \Magento\Paypal\Block\Express\Review\Details
 * @var \Magento\Paypal\Block\Express\Review\Details $block
 */
 
 
 // nwtkco_cart id is mandatory (it's used into ajax update blocks part)
?>

<div id="nwtkco_cart" class="table-wrapper order-items cart">
    <div class="nwtkco-edit-cart">
        <a class="nwtkco-edit" href="<?php echo $block->escapeUrl($block->getUrl('checkout/cart')); ?>" class="action edit" title="<?php echo $block->escapeHtml(__('Edit Shopping Cart')); ?>">
            <i class="fa fa-pencil nwtkco-edit-ico"></i> <span><?php echo __('Edit your shopping cart'); ?></span>
        </a>
    </div>
    <table id="details-table" class="nwtkco-review" cellspacing="0" cellpadding="0" border="0">
        <colgroup>
<!--            <col width="7.5%" />-->
            <col width="49%" />
            <col width="22%" />
            <col width="21.5%" />
        </colgroup>
        <?php foreach ($block->getItems() as $item): ?>
            <?php echo $block->getItemHtml($item) ?>
        <?php endforeach ?>
        <tfoot>
            <?php echo $block->getChildHtml('totals'); ?>
        </tfoot>
    </table>
</div>
