<?php
/**
 * Klarna Checkout extension
 *
 * @category    NWT
 * @package     NWT_KCO
 * @copyright   Copyright (c) 2016 Nordic Web Team ( http://nordicwebteam.se/ )
 *
 */

/**
 * Klarna Checkout Order comments template
 */
?>
<div id="nwtkco_comment" class="nwtkco-block nwtkco-block-discount">
    <?php $customerComment = $block->getQuote()->getCustomerNote(); ?>
    <form method="post" action="<?php echo $block->getCommentSubmitUrl(); ?>" id="klarnakassan-comment">
        <div class="fieldset comment">
            <div class="input-box field">
                <textarea value="" placeholder="<?php echo __('Enter a comment for this order'); ?>" name="kco_customer_comment" id="kco_order_comment_textarea" class="nwtkco-show-on-focus input-text"><?php echo $customerComment;?></textarea>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button id="kcoCommentSubmit" type="submit" title="<?php echo __('Save'); ?>" class="action apply primary btn-kco"><?php echo __('Save'); ?></button>
                </div>
            </div>
        </div>
    </form>
</div>