<?php
/**
 * Country selector template
 */


// @codingStandardsIgnoreFile
/** @var $block \NWT\KCO\Block\Checkout */

//id  #nwtkco_shipping_country is mandatory

$countries = $block->getAllowCountries();
if(count($countries)<=1) return; //do not show country if only one country is available
$sa = $block->getBillingAddress();
$country = $sa?$sa->getCountryId():'XX';
?>

<div id="nwtkco_shipping_country">
        <select name="country" id="country" >
        <?php foreach($countries as $k=>$v): $selected = ($country == $k ? ' selected="selected"':''); ?>
            <option value="<?php echo $k; ?>"<?php echo $selected;?>><?php echo $v; ?></option>
        <?php endforeach; ?>
        </select>
</div>

