<?php $cCfg = 'data-mage-init=\'{"collapsible":{"openedState": "active", "saveState": true, "active": true}}\''; ?>
<?php if ($block->getShippingAddress()): ?>
<div class="nwtkco-shipping nwtkco-section mobile-show" id="nwtkco-shipping" <?php echo $cCfg; ?>>
    <div class="nwtkco-title" data-role="title">
        <h4 id="nwtkco-review-heading" role="heading" aria-level="2">
            <?php echo $block->escapeHtml(__('Shipping Method')) ?>
            <span class="nwtkco-toggler">
                <span class="nwtkco-show"><?php echo __('Show'); ?> <i class="fa fa-angle-down"></i></span>
                <span class="nwtkco-hide"><?php echo __('Hide'); ?> <i class="fa fa-angle-up"></i></span>
            </span>
        </h4>
    </div>
    <div class="nwtkco-section-content" data-role="content" aria-labelledby="nwtkco-review-heading">
        <form method="post" id="shipping-method-form"
              action="<?php echo $block->escapeUrl($block->getShippingMethodSubmitUrl()); ?>"
              class="form">
            <?php echo $block->getChildHtml('shipping_method'); ?>
        </form>
        <?php if($addrUrl = $block->getShippingAddressSubmitUrl()): // =!== ?>
            <?php echo $block->getChildHtml('shipping_address'); ?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>