<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
/**
 * @var \NWT\KCO\Block\Checkout\Shortcut $block
 */

$img = '<img src="https://cdn.klarna.com/1.0/shared/image/generic/logo/sv_se/basic/white.png?width=55" alt="'. $block->escapeHtml(__('Klarna Checkout')) .'"/>';
?>
<br/>
<button onclick="window.location.href = '<?php echo $block->getCheckoutUrl();?>'" class="klarna action primary checkout" type="button" title="<?php echo $block->escapeHtml(__('Klarna Checkout')); ?>">
     <?php echo __('%1 Checkout', $img); ?>
</button>