<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$subscribe = $block->subscribeNewsletter();

?>
<div id="nwtkco_newsletter" class="nwtkco-block nwtkco-block-discount">
    <?php $customerComment = $block->getQuote()->getCustomerNote(); ?>
    <form method="post" action="<?php echo $block->getNewsletterSubmitUrl(); ?>" id="nwtkco-newsletter-form">
        <div class="fieldset comment">
                <input type="checkbox" name="newsletter" value="1" <?php echo $subscribe?'checked="checked"':'';?> id="newsletter" title="<?php echo __('Sign Up for Our Newsletter') ?>" class="checkbox"   />
                <label for="newsletter"><span class="tick"></span> <?php echo __('Sign Up for Our Newsletter') ?></label>
        </div>
    </form>
</div>