/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2018-12-05 16:43:10 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 49%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 49%;
    }
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown, .minicart-wrapper .block-minicart, .product-item .tocart, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .product-social-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], .footer-middle .block.newsletter input, .footer-middle .block.newsletter .action.subscribe, .filter-options-title, .filter-options-item.active .filter-options-title, .filter-options-content, .filter-options-title:after, .toolbar select, .swatch-option, .pages .page, .pages .action, .fotorama__stage, .fotorama__nav--thumbs .fotorama__thumb, .fotorama__nav .fotorama__thumb-border, .input-text.qty, .qty.field .qty-changer > a, button, a.action.primary, textarea, .minicart-items .item-qty, .block-minicart .block-content > .actions > .secondary .action.viewcart, .cart.table-wrapper .product-image-container, .cart-summary, select, #discount-coupon-form #coupon_code, .abs-discount-block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.cancel, .block-compare .action.primary, .cart-summary .block .actions-toolbar > .primary .action.primary, .cart-summary .form.giftregistry .fieldset .action.primary, .paypal-review-discount .actions-toolbar .action.primary, .paypal-review-discount .actions-toolbar .action.cancel, .cart-discount .actions-toolbar .action.primary, .cart-discount .actions-toolbar .action.cancel, .login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage, .message, .box .box-title, .box .box-actions, .customer-welcome .header.links, .btn, .cms-index-index blockquote.testimonial, .recent-posts .item .post-image, .prev-next-products .product-nav .product-pop, #newsletter_popup, .product-label, .page-header.type11 .navigation li.level0.active, .page-header.type11 .navigation li.level0:hover, .filter .filter-current-subtitle, .filter-actions, .products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2, .block-header-customer-login, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .moved-add-to-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .moved-add-to-links .action.mailto.friend, .product-social-links .action.towishlist, .product-addto-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist
{
    border-radius: 0;
}
.sw-megamenu.navigation li.level0.fullwidth:hover > .submenu, .sw-megamenu.navigation li.level0.staticwidth:hover > .submenu, .sw-megamenu.navigation li.level0.classic .submenu, .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu, .sw-megamenu.navigation span.cat-label, .category-boxed-banner .owl-item .item, .iwd-summary-cart, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary {
    border-radius: 0 !important;
}
@media (min-width: 768px) {
    .block-search input, .page-header.type1 .navigation > ul, .navigation li.level0, .page-header.type1 .navigation li.level0.parent:hover, .page-header.type1 .navigation li.level0.active, .page-header.type1 .navigation li.level0:hover, .page-header .navigation .level0 .submenu, .product.data.items > .item.title > .switch, .customer-welcome .header.links, .page-header.type5 .block-search input, .page-header.type5 .navigation .level0.parent:hover > .level-top, .page-header.type6 .block-search input, .page-header.type6 .navigation .level0:hover > .level-top, .page-header.type6 .navigation .level0.parent:hover > .level-top, .product.info.detailed.vertical .product.data.items > .item.title > .switch, .page-header.type5 .navigation .level0:hover > .level-top, .page-header.type11 .navigation li.level0.parent:hover
    {
        border-radius: 0;
    }
}
@media (min-width: 640px) {
    .modes-mode
    {
        border-radius: 0;
    }
}
.product-item-photo {
    border-radius: 0;
    border: 0;
    padding: 0;
}
.product-image-photo.hover_image {
    padding: 0;
    border-radius: 0;
}

.products-grid .product-item {
    display: inline-block;
}
.fotorama__arr--next .fotorama__arr__arr:before {line-height: 2;color: rgba(213, 213, 213, 0);}
.fotorama__arr--prev .fotorama__arr__arr:before {line-height: 2;color: rgba(213, 213, 213, 0);}
.fotorama__arr:active, .fotorama__thumb__arr:active {background-color: rgba(213, 213, 213, 0);}
.product-view-details .product-info-main .page-title-wrapper .category-description { display: none; }

#top-cart-btn-checkout .klarna img{display: none !important; visibility: hidden !important;}
.page-header.type16 {
    border-top: none;
}
.page-header.type16 .panel.wrapper {
    border-bottom: #e3e7e8 solid 1px;
}
.page-header.type16 .header.panel > .header.links > li > a,
.page-header.type16 .header.panel > .header.links > li,
.page-header.type16 .switcher strong {
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.025em;
    text-transform: uppercase;
}
.page-header.type16 .custom-block > * {
    font-family: 'Poppins';
    font-weight: 400;
    color: #787d7f !important;
    font-size: 12px;
}
.page-header.type16 .custom-block span b {
    color: #606669 !important;
    font-weight: 500 !important;
}
.page-header.type16.sticky-header .minicart-wrapper .action.showcart:before,
.page-header.type16.sticky-header .minicart-wrapper .action.showcart.active:before,
.page-header.type16.sticky-header .minicart-wrapper .action.showcart{
    color: #fff;
}
.homepage-bar {
    border-top: none;
    border-color: #e5e8e8;
    background-color: transparent;
}
.homepage-bar .col-md-4 {
    border: none;
    padding-top: 24px;
    padding-bottom: 24px;
}
.homepage-bar [class*=" porto-icon-"], .homepage-bar [class^="porto-icon-"] {
    color:#465157;
}
.homepage-bar h3 {
    font-size: 14px;
    font-weight: 600;
    color: #465157;
    line-height: 19px;
}
.homepage-bar p {
    font-size: 13px;
    font-weight: 300;
    color: #839199;
    line-height: 19px;
}
.home-side-menu-type2>h2 {
    background-color: #2f2727;
    font-size: 14px;
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: 0.075em;
    color: #fff;
    padding: 10px 20px 11px;
    line-height: 1;
    margin-bottom: 0;
}
.home-side-menu-type2>h2 em {
    font-size: 18px;
}
.side-menu-type2.side-block {
    border: #e6ebee solid 1px;
    border-top:none;
}
.side-menu-type2.side-block ul.category-sidebar > li {
    padding-left: 20px;
}
.side-menu-type2.side-block ul.category-sidebar>li:last-child {
    border: none;
}
.side-menu-type2.side-block ul.category-sidebar ul {
    padding-left: 10px;
}
.side-menu-type2.side-block ul.category-sidebar li a {
    font-family: 'Poppins';
    letter-spacing: 0.005em;
    font-weight: 400;
    color: #465157;
    line-height: 52px;
}
.side-menu-type2.side-block ul.category-sidebar a.expand-icon {
    right: 13px;
    font-size: 10px;
}
.side-menu-type2.side-block ul.category-sidebar a em.porto-icon-down-dir:before {
    content: '\f882';
}
.side-menu-type2.side-block ul.category-sidebar a em.porto-icon-up-dir:before {
    content: '\f883';
}
.featured-box-2 i {
    font-size: 26px;
    color: #2f2727;
}
.featured-box-2 h3 {
    font-size: 15px;
    font-family: 'Oswald';
    letter-spacing: 0.075em;
    color: #2b2b2d;
    border: none;
    font-weight: 400;
    margin-bottom: 5px;
    margin-top: 0;
}
.featured-box-2 p {
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 400;
    line-height: 27px;
    color: #687176;
    margin-bottom: 10px;
}

.filterproduct-title {
    font-family: 'Oswald';
    font-size: 20px;
    letter-spacing: 0.075em;
    color: #2f2727;
    position: relative;
    overflow: hidden;
    background: none;
    font-weight: 400;
}
.filterproduct-title strong{
    font-weight: 400;
}
.filterproduct-title .content {
    z-index: 2;
    position: relative;
}
.filterproduct-title .title_line {
    position: absolute;
    height: 1px;
    background-color: #dde0e2;
    width: 100%;
    top: 50%;
    left:0;
    right:0;
}
.brands-slide .owl-side-narrow .owl-carousel {
    padding: 20px 80px 15px;
}
.brands-slide .owl-no-narrow .owl-carousel a {
    display: inline-block;
    padding: 40px 0;
}
.brands-slide .owl-theme .owl-controls {
    margin: 0;
}
.brands-slide .owl-controls .owl-nav > div {
    position: absolute;
    top: calc(50% - 15px);
    background: none;
    padding: 0;
    margin: 0;
}
.brands-slide .owl-controls .owl-nav div.owl-prev {
    left: 0;
    color: #3a3a3c;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.brands-slide .owl-controls .owl-nav div.owl-next {
    right: 0;
    color: #3a3a3c;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.owl-bottom-narrow {
    margin: 0 -10px;
}
.owl-bottom-narrow .filterproducts .owl-controls {
    bottom: -20px;
}
.owl-bottom-narrow .filterproducts .owl-controls .owl-nav > div {
    padding: 0;
    margin: 0;
}


.page-wrapper > .breadcrumbs {
    height: 15px;
}
.page-wrapper > .breadcrumbs .items {
    padding: 5px 15px 0;
}
.breadcrumbs li.home a {
        display: inline-block;
    overflow: visible;
    float: left;
    position: relative;
    height: 5px;
    text-indent: -10px;
    top: -8px;
    font-size: 14px;
}
.sidebar.sidebar-main {
    position: relative;
        margin-bottom: -15px;
}
.expander-categories .expander-title,.filter-options-title,.filter .filter-current-subtitle {
    border: none;
    background-color: transparent;
    padding: 6px 0px 4px 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 400;
    color: #21293c;
    letter-spacing: 0.01em;
}

.expander-categories .expander-title strong {
    font-weight: 600;
}
.expander-categories .expander-content,.filter-options-content {
    border: none;
    background-color: transparent;
    padding: 0px 5px 0px 9px;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    border-radius: 0;
}
.filter-current .items {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.filter-current .item {
    padding-left: 20px;
}
.filter-current .action.remove {
    right: 20px;
    color: #21293c;
}
.filter-actions {
    border: none;
    background-color: transparent;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    padding-right: 20px;
}
.filter-actions a {
    color: #858585;
}
.filter-options-title:after {
    content: '\f803';
    border: none;
    color: #21293c;
    font-size: 17px;
    margin-top: -11px;
    padding-left: 16px;
}
.filter-options-title:hover:after {
    background: none;
    color: #21293c;
}
.active > .filter-options-title:after {
    content: '\f800';
}
#ln_slider_price.ui-slider-horizontal {
    height: 3px;
    box-shadow: none;
}
#ln_slider_price .ui-slider-handle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.sidebar-title {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}
.porto-icon-left-open-huge:before {
    content: '\f802';
    color: #21293c;
}
.porto-icon-right-open-huge:before {
    content: '\f801';
    color: #21293c;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls {
    top: -40px;
    right: -8px;
}
.sidebar .product-items .product-item-info .product-item-photo {
    max-width: 25.19%;
}
.sidebar .product-items .product-item-details {
    margin-left: calc(26% + 15px);
}
.sidebar .product-items .product-item-name a {
    font-size: 12px;
    color: #5b5b5f;
    font-weight: 400;
}
.sidebar .sidebar-filterproducts {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: none;
    border-bottom: #efefef solid 1px;
}
.sidebar .product-items .product-item .product-reviews-summary {
    display: block;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 +h5 {
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p {
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar .custom-block {
    padding: 0 20px;
}
.category-boxed-banner.owl-theme .owl-controls {
    bottom: 0;
}
.page-products .toolbar .limiter {
    display: block;
}
.page-with-filter .toolbar-amount {
    display: none;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #010204;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.page-products .toolbar .limiter .limiter-text {
    display: none;
}
.modes-mode.active {
    border: none;
    background: none;
    color: #111;
}
.modes-mode,.modes-mode:hover {
    border: none;
    background: none;
    color: #111;
    width: 15px;
}
.toolbar select {
    border: 1px solid #e4e4e4;
    height: 37px;
    color: #7a7d82;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 10px;
    padding-right: 30px;
    line-height: 31px;
}
.sorter-label {
    font-size: 14px;
    font-weight: 600;
    color: #21293c;
}
.toolbar-sorter .sorter-action {
    margin-top: 6px;
    color: #21293c;
}
.toolbar-sorter .sorter-action:before {
    color: #21293c;
}
.pages a.page,.pages strong.page,.pages .action {
    width: 32px;
    line-height: 32px;
}
.products-grid + .toolbar.toolbar-products {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}
.product-item .product-reviews-summary {
    background: none;
}
.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item {
    padding: 12px 10px;
}
.products-grid:not(.side-list):not(.products-related):not(.small-list) .product-item .product-item-info {
    background-color: #fff;
}
.products-grid:not(.side-list):not(.products-related):not(.small-list) .product-item:hover .product-item-info {
    box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.1);
}
.products-grid:not(.side-list):not(.small-list):not(.products-related) .product-item .product-item-info .product.name a {
    font-size: 12px;
}
.product.name a {
    color: #282d3b;
    font-family: 'Poppins';
    font-size: 14px;
    letter-spacing: 0.005em;
    font-weight: 400;
}
.price-box .price {
    font-family: 'Oswald';
    font-size: 17px;
    /* font-size: 13px; */
    letter-spacing: 0.005em;
    color: #2b2b2d;
    font-weight: 400;
}

.old-price {
    /* float: left; */
    /* margin-top: 2px; */
    margin-right: 5px;
}
.old-price .price, .old.price {
    /* font-size: 13px; */
    font-size: 17px;
}

.special-price .price {
    color: #ff0000;
    font-weight: 400;
}
.product-label.sale-label {
    border-radius: 20px;
    background-color: #f83737;
    color: #ffffff;
}
.product-label.new-label {
    border-radius: 20px;
    background-color: #0fc567;
    color: #ffffff;
}
.products-grid .product-item-details .product-item-actions .tocart {
    text-transform: uppercase;
    font-size: 12.53px;
    font-family: 'Oswald';
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #6f6e6c;
    line-height: 30px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
}
.product-item .tocart:before {
    content: '\e87f';
    font-size: 17px;
    vertical-align: middle;
}
.product-item-actions .action.towishlist, .product-addto-links .action.towishlist, .action.towishlist,
.product-addto-links .action.tocompare, .product-item-actions .action.tocompare, .action.tocompare {
    border-color: #d8d8d6;
    background-color: #f4f4f4;
}
.products-grid .product-item-info:hover .product-item-details .product-item-actions .tocart {
    border-color: #2b2b2d;
    background-color: #2b2b2d;
}


.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    padding-bottom: 0;
    margin-bottom: 33px;
    background: none;
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #544E4E;
    border: none;
    font-size: 40px;
    float: left;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.block-manufacturer {
    text-align: center;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.block-manufacturer hr {
    border-color: #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.related {
    padding: 0 20px;
}
.block .title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}
.block.related .product-items .product-item-actions {
    display: none;
}
.product-info-main .page-title-wrapper h1 {
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.01em;
    color: #21293c;
    margin: 3px 0 15px;
}
.prev-next-products a {
    color: #555;
}
.product-reviews-summary .reviews-actions a {
    line-height: 20px;
    font-size: 14px;
    color: #bdbdbd;
}
.product-info-main .product.overview {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 21px;
    border-bottom: solid 1px #dae2e6;
}
.product-info-main .product.overview .value h2 {
    font-size: 17px;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.product.media {
    padding-right: 12px;
}
.fotorama__stage__shaft {
    border: none;
}
.fotorama__nav--thumbs .fotorama__thumb {
    border-color: #dae2e6;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    font-family: 'Oswald';
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.005em;
}
.product-info-main .product-info-price .old-price .price-wrapper .price {
    font-size: 16px;
    color: #2b2b2d;
    font-weight: 400;
}
.product-info-main .fieldset > .field.qty, .product-info-main .nested.options-list > .field.qty {
    position: relative;
    width: 106px;
}
.product-info-main .qty.field .control, .product-info-main .qty.field .qty-changer {
    margin-left: 29px;
}
.product-info-main .qty.field .qty-changer > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 43px;
    width: 30px;
    line-height: 41px;
    text-align: center;
    margin: 0;
    border-color: #dae2e6;
}
.product-info-main .qty.field .qty-changer > a:first-child {
    left: auto;
    right: 4px;
}
.product-info-main .box-tocart .input-text.qty {
    font-family: 'Oswald';
    display: inline-block;
    vertical-align: middle;
    height: 43px;
    width: 44px!important;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #61605a;
    margin: 0;
    border-color: #dae2e6;
}
.product-info-main .qty.field .qty-changer > a .porto-icon-up-dir:before {
    content: '\f882';
}
.product-info-main .qty.field .qty-changer > a .porto-icon-down-dir:before {
    content: '\f883';
}
.box-tocart .action.tocart {
    height: 43px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}
.box-tocart .action.tocart:before {
    content: '\e87f';
    font-family: 'porto-icons';
    margin-right: 7px;
    font-size: 16px;
}
.action.primary,.action.primary:active {
    font-family: "Roboto";
    letter-spacing: 1px;
    text-transform: uppercase;
}
.product-addto-links .action.towishlist,.product-addto-links .action.tocompare,.product-social-links .action.mailto.friend {
    width: 43px;
    height: 43px;
    line-height: 41px;
}
.product.data.items > .item.content {
    background-color: #fff;
    box-shadow: none;
    border: none;
    border-top: #dae2e6 solid 1px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.005em;
    line-height: 27px;
}

.main-upsell-product-detail .block.upsell .title strong {
    background: none;
}
.block.upsell .title {
    background: none;
    border-bottom: #e1e1e1 solid 1px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: left;
}
.block.upsell .title strong {
    font-size: 18px;
    font-weight: 700;
    color: #302e2a;
}
.review-ratings .rating-label {
    display: block;
}


.footer-middle, .footer-middle p, .footer-middle .contact-info i {
    line-height: 24px;
}
.footer-middle {
    padding:63px 0 0;
    font-size: 13px;
    font-family: 'Poppins';
    letter-spacing: 0.005em;
}
.footer-middle .block .expander-title {
    margin-bottom: 15px;
}
.footer-middle .block .expander-title strong {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
}
.footer-middle ul.links li,
.footer-middle ul.features li {
    padding: 6px 0;
}
.footer-middle .contact-info li:first-child{
    border-top-width: 0;
    padding: 0 0 10px;
}
.footer-middle .contact-info li {
    padding: 12px 0;
}
.footer-middle .contact-info i {
    color: #e1ddc3 !important;
    font-size: 26px;
    line-height: 28px;
}
.footer-middle .contact-info p{
    line-height: 18px;
}
.footer-middle .contact-info b {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 7px;
    display: inline-block;
}
.footer-middle .block-bottom {
    border-top: 1px solid #3d3d38;
    text-align: left;
    padding: 27px 0;
    overflow: hidden;
    margin-top: 32px;
}
.footer-middle .working span {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.005em;
    line-height: 18px;
}
.footer-middle .working span b {
    text-transform: capitalize;
    color: #a8a8a8;
}
.footer-middle .price-box .price {
    color: #a8a8a8;
}
.footer-middle.footer-middle-2 {
    padding-top: 40px;
    padding-bottom: 50px;
}
.footer-middle .block-middle2 {
    border-top: 1px solid #3d3d38;
    padding-top: 42px;
}
.footer .social-icons {float: right}
.footer-middle .social-icons a {
    background-image: none;
    background-color: #33332f;
    text-indent: 0;
    color: #fff;
    border-radius: 0;
    font-size: 18.6px;
    width: 48px;
    height: 48px;
    text-align: center;
    margin-left: 0;
    margin-right: 4px;
    float: left;
    line-height: 46px;
}
.footer-container .validation-advice {
    position: absolute;
}
.footer-middle  .block.newsletter {
    width: auto;
    max-width: 375px;
    display: inline-block;
    vertical-align: middle;
}
.footer-middle .block.newsletter .control:before {
    line-height: 44px;
    margin-left: 20px;
}
.footer-middle .block.newsletter .control {
    position: relative;
}
.footer-middle .block.newsletter .control input {
    background-color: #fff;
    color: #686865;
    height: 44px;
    border: none;
    font-size: 14px;
    border-radius: 30px 0 0 30px;
    padding-left: 40px;
}
.footer-middle .block.newsletter .control div.mage-error {
    position: absolute;
    bottom: -22px;
}
.footer-middle .block.newsletter .actions .action.subscribe {
    height: 44px;
    border-radius: 0 30px 30px 0;
    text-transform: uppercase;
    padding: 0 22px;
}
.footer-middle .subcribe .expander-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    line-height: 1;
}
.footer-middle .subcribe .expander-title strong {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #fff;
}
.footer-middle .subcribe form {
    display: inline-block;
    vertical-align: middle;
}
.footer-middle address {
    margin-top: 15px;
}
.footer-middle .filterproducts .product-item .product.name a{
    font-family: 'Poppins';
    font-size: 13px;
    letter-spacing: 0.005em;
    font-weight: 400;
    color: #a8a8a8;
}
@media (min-width: 640px) {
    .page-products .sorter {
        float: left;
margin-bottom: 5px;
    }
    .modes {
        float: right;
        margin-right: 0;
        margin-left: 20px;
        margin-top: 5px;
    }
    .modes-mode:before {
        content: '\e880';
        font-size: 14px;
    }
    .mode-list:before {
        content: '\e87b';
        font-size: 14px;
    }
    .products.wrapper ~ .toolbar .limiter {
        float: left;
    }
    .products.wrapper ~ .toolbar .pages {
        float: right;
    }
}
@media (min-width: 768px) {
.expander-categories .expander-title strong {
   border: none;
    text-align: center;
    padding: 0;
    background-color: #ffffff;
    box-shadow: none;
    color: #000;
}

    .page-header.type16 .header.panel {
        padding-bottom: 9px;
        padding-top: 10px;
    }
    .page-header.type16 .block-search input {
        border-radius: 20px;
    }
    .sidebar.sidebar-main:before {
        content: '';
        position: absolute;
        left: 0;
        right: 22px;
        border: solid 1px #dae2e6;
        top: 0;
        bottom: 0;
        border-radius: 2px;
    }
    .product.data.items > .item.title {
        padding: 10px 30px 10px 0;
    }
    .product.data.items > .item.title > .switch {
        font-size: 14px;
        font-weight: 700;
        color: #818692;
        text-transform: uppercase;
        border: none;
        border-radius: 0;
        line-height: 30px;
        background: none;
        padding: 0;
    }
    .product.data.items > .item.title:not(.disabled) > .switch:focus,
    .product.data.items > .item.title:not(.disabled) > .switch:hover {
        background: none;
        color: #818692;
    }
    .product.data.items > .item.title.active > .switch,
    .product.data.items > .item.title.active > .switch:focus,
    .product.data.items > .item.title.active > .switch:hover {
        color: #21293c;
        position: relative;
        border-bottom: #544E4E solid 2px;
    }
    .product.data.items > .item.content {
        padding: 35px 0 0;
        margin-top: 45px;
    }
}
@media (max-width: 767px){
.navigation .parent .level-top:after {
    font-size: 2.3rem;
    font-weight: bold;
}
.sidebar .expander-categories .expander-title strong{
padding: 4px 30px 8px 10px;
position: relative;
}
.sidebar .expander-categories .expander-title strong:after{
-webkit-font-smoothing: antialiased;
font-size: 32px;
line-height: inherit;
color: inherit;
content: '\f807';
font-family: 'porto-icons';
vertical-align: middle;
display: inline-block;
font-weight: normal;
overflow: hidden;
speak: none;
text-align: center;
position: absolute;
line-height: normal;
right: 7px;
top: -3px;
}
.page-products .sorter {
    top: -10px;
    position: relative !important;
}
    .brands-slide .owl-side-narrow .owl-carousel {
        padding: 20px 0 15px;
    }
    .brands-slide .owl-side-narrow .owl-carousel .owl-controls{
        display:none;
    }
    .page-products .toolbar .limiter {
        display: none;
    }
    .product.data.items {
        margin: 0;
    }
    .prev-next-products .product-nav.product-next .product-pop {
        margin: 0;
    }
    .prev-next-products .product-nav.product-prev .product-pop {
        left: -20px;
    }
    .product-info-main .fieldset > .field.qty {
        margin-bottom: 20px;
    }
    .fieldset > .actions {
        vertical-align: top;
    }
    .catalog-product-view .sidebar .custom-block {
        padding: 0;
    }
    .footer-middle .contact-info {
        margin-top: 0 !important;
    }
    .footer .social-icons {
        float: left;
        margin-top: 10px;
    }
    .footer-middle .block-bottom .subcribe, .footer-middle .block-bottom .custom-block {
        display: block;
        padding: 15px 0;
        float: left !important;
    }
}
.box-tocart.fieldset>.field.qty{text-align: right;}
#nwtkco-review .product-item-name { color: #333; margin-top: -11px;}
.product-item-name { color: #333; }

.products-grid .product-item .product-item-details .product-item-name {
    height: 55px;
    overflow-y: hidden;
}
@media (max-width: 520px) {
    .products-grid .product-item .product-item-details .product-item-name {
        overflow-y: auto;
    }
}

.product-info-price .price-box .old-price {
    display: inline-block !important;
}

.product-description ul>li, ol>li {
margin-bottom: 0.15rem;
}

#footer_newsletter {
color: #fff !important;
}
#footer_newsletter::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #fff !important;
}
#footer_newsletter:-moz-placeholder { /* Firefox 18- */
color: #fff !important;
}
#footer_newsletter::-moz-placeholder { /* Firefox 19+ */
color: #fff !important;
}
#footer_newsletter:-ms-input-placeholder { /* IE */
color: #fff !important;
}
#footer_newsletter::-ms-input-placeholder { /* IE Edge */
color: #fff !important;
}

.footer-middle .block.newsletter .control {
position:static;
}



/* Meny alternativ julklappar 2018*/
.page-header.type18 .navigation .level0 > a[href="https://www.friluftsvaror.se/julklappartest"].level-top,
.page-header.type18 .navigation .level0 > a[href="https://www.friluftsvaror.se/julklapparna"].level-top,
.page-header.type18 .navigation .level0 > a[href="https://www.friluftsvaror.se/julklappar"].level-top,
.page-header.type18 .navigation .level0 > a[href="https://www.friluftsvaror.se/julklapp"].level-top,
.page-header.type18 .navigation .level0 > a[href="https://www.friluftsvaror.se/jul"].level-top  {
    color: #e60515 !important;
}


.page-header.type18 .navigation .level0:hover > a[href="https://www.friluftsvaror.se/julklappartest"].level-top,
.page-header.type18 .navigation .level0:hover > a[href="https://www.friluftsvaror.se/julklapparna"].level-top,
.page-header.type18 .navigation .level0:hover > a[href="https://www.friluftsvaror.se/julklappar"].level-top,
.page-header.type18 .navigation .level0:hover > a[href="https://www.friluftsvaror.se/julklapp"].level-top,
.page-header.type18 .navigation .level0:hover > a[href="https://www.friluftsvaror.se/jul"].level-top  {
    background-color: #e60515 !important;
    color: #fff !important;
}
/* Slut - Meny alternativ julklappar 2018*/

