/**
 * WaPoNe
 *
 * @category   WaPoNe
 * @package    WaPoNe_CookieNotification
 * @copyright  Copyright (c) 2017 WaPoNe (http://www.fantetti.net)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

#cookienotification-block {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 6;
    /*padding: 10px 0 0 20%;*/
    display: block;
    line-height: 2.2em;
    font-size: 14px;
    margin: 0;
}

#cookienotification-block > p {
    float: left;
    margin-right: 10px;
}

button#btn-cookienotification-more {
    cursor: pointer;
    padding: 0px 10px 0px 10px;
    border-radius: 3px;
    font-size: 14px;
    border: solid black 1px;
    float: left;
    margin-right: 10px;
}

button#btn-cookienotification-allow {
    cursor: pointer;
       padding: 0px 10px 0px 10px;
    border-radius: 3px;
    font-size: 14px;
    border: solid black 1px;
}
