<?php
/**
 *
 * @category    NWT
 * @package     NWT_KCO
 * @copyright   Copyright (c) 2016 Nordic Web Team ( http://nordicwebteam.se/ )
 * @license     NWT Commercial License (NWTCL 1.0)
 *
 */

// @codingStandardsIgnoreFile
/**
 * @var $block \NWT\KCO\Block\Payment\Checkout\Form
 */
 
 //NOT USED
?>
<fieldset class="admin__fieldset payment-method" id="payment_form_<?php echo $block->escapeHtml($block->getMethodCode()) ?>" style="display: none">
    <div class="admin__field _required">
        <label for="nwtkco_number" class="admin__field-label"><span><?php echo $block->escapeHtml(__('Klarna Order Number')) ?></span></label>
        <div class="admin__field-control">
            <input type="text" id="nwtkco_number" name="payment[nwtkco_number]"
                   title="<?php echo $block->escapeHtml(__("Klarna Reservation Number")) ?>" class="required-entry admin__control-text"
                   value="<?php /* @noEscape */ echo $block->getInfoData('reservation') ?>"/>
        </div>
    </div>
</fieldset>
