<?php
/**
 *
 * @category    NWT
 * @package     NWT_KCO
 * @copyright   Copyright (c) 2016 Nordic Web Team ( http://nordicwebteam.se/ )
 * @license     NWT Commercial License (NWTCL 1.0)
 *
 */
/**
 * @var $block \NWT\KCO\Block\Payment\Checkout\Info
 */
?>
<div class="order-payment-method-name"><?php echo $block->escapeHtml($block->getMethod()->getTitle()); ?></div>
<table class="data-table admin__table-secondary">
    <tr>
        <th><?php echo $block->escapeHtml(__('Reservation Number')); ?>:</th>
        <td><?php echo $block->escapeHtml($block->getInfo()->getAdditionalInformation('reservation')); ?></td>
    </tr>
</table>
