<?php
/**
 *
 * @category    NWT
 * @package     NWT_KCO
 * @copyright   Copyright (c) 2016 Nordic Web Team ( http://nordicwebteam.se/ )
 * @license     NWT Commercial License (NWTCL 1.0)
 *
 */
/**
 * @var $block \NWT\KCO\Block\Payment\Checkout\Info
 */
?>
<?php echo $block->escapeHtml(__('Klarna Order Number: %1', $block->getInfo()->getAdditionalInformation('reservation'))) ?>
    {{pdf_row_separator}}
