<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div id="nwtkco_coupon" class="nwtkco-block nwtkco-block-discount">

        <form id="discount-coupon-form"
              action="<?php /* @escapeNotVerified */ echo $block->getCouponSubmitUrl() ?>"
              method="post"
              >
            <div class="fieldset coupon<?php strlen($block->getCouponCode()) ? ' applied' : ''?>">
                <input type="hidden" name="remove" id="remove-coupon" value="<?php echo strlen($block->getCouponCode()) ? 1 : 0 ;?>" />
                <div class="field">
                    <div class="control">
                        <input type="text" class="nwtkco-show-on-focus input-text" id="coupon_code" name="coupon_code" value="<?php echo $block->escapeHtml($block->getCouponCode()) ?>" placeholder="<?php echo $block->escapeHtml(__('Enter discount code'));?>" />
                    </div>
                </div>
                <div class="actions-toolbar">
                    <?php if (!strlen($block->getCouponCode())): ?>
                        <div class="primary">
                            <button class="action apply primary" type="submit" value="<?php /* @escapeNotVerified */ echo __('Apply Discount') ?>">
                                <span><?php /* @escapeNotVerified */ echo __('Apply Discount') ?></span>
                            </button>
                        </div>
                    <?php else: ?>
                        <div class="secondary">
                            <button  type="submit" class="action cancel primary" value="<?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?>"><span><?php /* @escapeNotVerified */ echo __('Cancel Coupon') ?></span></button>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
        </form>
</div>
