<?php
/** @var Ecomatic\CacheWarmer\Block\Info $block */
$blocks = $block->getNotCacheableBlocks();
?>

<div class="cache-warmer__info _<?=$block->getCacheStatus() ?>">
    <strong><?=__('Page Cache Warmer') ?></strong>
    <div class="cache-warmer__info-body">
        <strong>Page <?=$block->getCacheStatus() ?></strong>
    </div>

    <?php if (count($blocks)): ?>
    <table>
        <tr>
            <th colspan="2">Not cacheable blocks</th>
        </tr>
        <?php foreach ($blocks as $class => $name): ?>
            <tr>
                <td><?=$name ?></td>
                <td><?=$class ?></td>
            </tr>
        <?php endforeach ?>
    </table>
    <?php endif ?>
</div>

