<?php /* @type $block Ecomatic\FilterCombiner\Block\Widget\Combiner */ ?>
<div class="combiner-wrapper">
    <button id="filter-submit" class="button btn filter-submit"><?php echo __('Filter');?></button>
    <script>
        require(['jquery'], function ($) {
            if ($(window).width() > 767) {
                $('.combiner-wrapper').hide();
            } else {
                var filterOptions = $('.filter-options');
                console.log(filterOptions);
                if (filterOptions.length === 0) {
                    $('.combiner-wrapper').hide();
                } else {
                    filterOptions.append($('.combiner-wrapper'));
                    filterOptions.find('a > div').click(function (e) {
                        $(this).toggleClass('selected');
                        e.preventDefault();
                        e.stopPropagation();
                        /* var value = $(this).attr('option-id');
						var attribute = $(this).closest('.filter-options-item').attr('attribute');
						if (typeof window.filterParams === 'undefined') {
							window.filterParams = [];
						}
						if (typeof window.filterParams[attribute] === 'undefined') {
							window.filterParams[attribute] = {
								code:attribute,
								values:[value],
								hasValues:function(){
									return this.values.length > 0;
								}
							};
						} else {
							var param = window.filterParams[attribute];

							var i = param.values.indexOf(value);
							if (i > -1) {
								param.values.splice(i, 1);
							} else {
								param.values.push(value);
							}
						} */
                    });
                    $('#filter-submit').click(function (e) {
                        var url = window.location.href;
                        if (url.indexOf('?') > -1) {
                            url = url.substr(0, url.indexOf('?'));
                        }

                        var query = [];
                        $('.filter-options-item.active').each(function () {
                            console.log($(this));
                            var attr = $(this).attr('attribute');

                            // Fix 2018-12-10
                            if (attr === undefined) {
                                attr = $(this).find('div[attribute-code]').first().attr('attribute-code');
                            }


                            var options = [];
                            $(this).find('.selected').each(function () {
                                options.push($(this).attr('option-id'));
                            });

                            if (options.length > 0) {
                                query.push(attr + '=' + options.join('%2C'));
                            }
                        });

                        if (query.length > 0) {
                            url += '?' + query.join('&');

                            window.location.href = url;
                        }
                    });
                }

                $('.filter-clear').click(function(e) {
                    console.log(e);
                    e.stopImmediatePropagation();
                });
            }
        });
    </script>
</div>
