#cache_warmer_page_grid, #cache_warmer_job_grid {
    .col-status {
        text-align: center;
    }

    .cache-warmer__status {
        display: inline-block;
        white-space: nowrap;
        font-size: 11px;
        border-radius: 2px;
        padding: 1px 15px;
        color: #fff;
        font-weight: bold;

        &.in-cache, &.completed {
            background: #47cd4a;
        }

        &.pending, &.scheduled {
            background: #f0b700;
        }

        &.unknown, &.running {
            background: #ff2525;
        }
    }

    .col-vary_data, .col-info {
        table {
            width: 100%;
            td {
                padding: .2rem 1rem !important;
                border: none !important;

                &:last-child {
                    text-align: right;
                }
            }
        }
    }

    .col-page_type {
        white-space: nowrap;
    }
}

.cache-warmer__quick-report {
    width: 70%;
    float: left;
    white-space: nowrap;
    position: relative;

    .bar-container {
        width: 75%;
        border-radius: 2px;
        margin-bottom: 1px;
        height: 14px;
        overflow: hidden;
    }

    .in_cache, .pending, .unknown {
        background: #fff;
        font-size: 11px;
        color: #fff;
        font-weight: bold;
        white-space: nowrap;
        height: 14px;
        min-width: 12rem;
        position: relative;
        border-radius: 2px;

        > span {
            padding: 0 1rem;
        }

        > i {
            width: 4rem;
            text-align: center;
            display: block;
            position: absolute;
            top: 0;
            background: rgba(81, 73, 67, 0.54);
            right: 0;
            border-radius: 2px;
            font-weight: normal;
            font-style: normal;
        }
    }

    .in_cache {
        background: #47cd4a;
    }

    .pending {
        background: #f0b700;
    }

    .unknown {
        background: #ff2525;
    }

    .info {
        position: absolute;
        right: 0;
        top: 0;
        width: 20%;
        font-size: 12px;

        strong {
            font-weight: 600;
        }
    }
}

.cache-warmer__quick-chart {
    width: 30%;
    float: right;
    padding-left: 1rem;
    margin-top: -15px;
    margin-bottom: -15px;
    height: 75px;
    position: relative;

    svg {
        border-right: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        height: 75px;
        width: 100%;
    }

    .label {
        position: absolute;
        font-size: 10px;
        color: #adadad;

        &.from {
            color: #8a837f;
            left: 1.5rem;
            bottom: 0;
        }

        &.to {
            color: #8a837f;
            right: 0.5rem;
            bottom: 0;
        }

        &.min {
            left: -2.5rem;
            width: 3rem;
            text-align: right;
            bottom: 0;
        }

        &.max {
            left: -2.5rem;
            top: 0;
            width: 3rem;
            text-align: right;
        }
    }
}