@nostress-koongo-admin__font-name-path: '@{baseDir}fonts/Nostress_Koongo/koongo';
@nostress-koongo-admin__font-name : 'koongo';
.lib-font-face(
@family-name:@nostress-koongo-admin__font-name,
@font-path: @nostress-koongo-admin__font-name-path,
@font-weight: normal,
@font-style: normal
);
.admin__menu .item-koongo.parent.level-0 > a:before {
  font-family: @nostress-koongo-admin__font-name;
  content: "\e900";
}