@import '_careless';

@size : 18px;
.tinyCheck {
	margin-top: 0;
	margin-bottom : 0;
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 1;
	width: @size;
	height: @size;
	line-height: @size;
	input {
		.opacity(0);
		position: absolute;
		z-index: 2;
		border: medium none;
		width: @size;
		height: @size;
		left: 0;
		top: 0;
		margin :0 !important;
		padding: 0  !important;;
		cursor: pointer;
	}
	ins {
		.ease(0.2s);
		width: @size;
		height: @size;
		line-height: @size;
		vertical-align: top;
		display: block;
		position : relative;
		z-index: 1;
		cursor: pointer;
	}
}

//Kokets

.tinyCheck {
	&.custom-radio,
	&.custom-checkbox {
		margin-right: 8px;
		ins {
			//border: 1px solid gray;
			background-color: #eee;
			border-radius: 2px;
			box-shadow: inset 0 1px 1px #aaa;
		}
		&.checked {
			ins {
				background-color: #0072cc;
				box-shadow: inset 0 1px 1px #0064b3;
				border-color: #0072cc;
				text-decoration: none;
				&:after {
					content : "\f00c";
					font-family: "FontAwesome";
					display: block;
					width: 18px;
					line-height: 18px;
					height: 18px;
					text-align: center;
					color: white;
					z-index: 1;
					//margin-top: -1px;
					//background: white;
					//.rotation(45deg);
				}
			}
		}
	}
}


	@textcolor:  #363636;
	@graycolor: #c8c8c8;
	@bordercolor: #d3d3d3;
	@klarnablue : #0174c8;
	@tablet : ~"only screen and (max-width: 970px)";
	@mobile : ~"only screen and (max-width: 640px)";

	#nwtkcoSidebar,
	#nwtkcoMain {
		float: left;
		clear: none;
		font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
		font-size: 15px;
		@media @tablet {
			float: none;
			clear: both;
		}
	}
	#nwtkcoSidebar {
		font-size: 1em;
		width: 32.5%;
		padding-bottom : 20px;
		@media @tablet {
			width: 100%;
		}
	}
	#nwtkcoMain {
		width: 65.5%;
		margin-left: 2%;
		@media @tablet {
			width: 100%;
			margin-left: 0;
		}
	}
	#nwtkco-review {
		tbody.nwtkco-item {
			.nwtkco-col {
				&.item,
				&.qty,
				&.subtotal {
					padding : 14px 0;
				}
				&.qty {
					text-align: center;
					span.qty {
						display: inline-block;
						line-height: 32px;
						vertical-align: top;
						width: 34px;
						//border: 1px solid #a8a8a8;
						//border-radius: 3px;
						//box-shadow : 0 0 3px #a8a8a8 inset;
						margin-top: -7px;
					}
				}
				&.subtotal {
					text-align: right;
					.price-excluding-tax,
					.price-including-tax {
						font-size: 1em;
						.price {
							font-weight: 400;
						}
					}
				}
			}
		}
		tfoot {
			td,th {
				padding : 6px;
				text-align: right;
			}
			th {
				font-weight: normal;
			}
		}
		td {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
		.product-item-name {
			font-size: inherit;
			margin: 0;
		}
		.product-item-details {
			padding-bottom:0;
		}
		.nwtkco-remove {
			font-size: 20px;
			font-weight: 300;
			line-height: 0.8;
		}
		.nwtkco-edit,
		.nwtkco-remove {
			color: @graycolor;
			text-decoration : none;
			transition: 0.2s all linear;
			cursor: pointer;
			&:hover {
				color: @textcolor;
			}
		}
		.nwtkco-edit {
			font-size: 12/14em;
			margin: 0 14px;
			display: inline;
		}
		.block.newsletter {
			width: 100%;
		}

		.actions-toolbar div.primary {
			display: none;
		}
		.nwtkco-edit-cart {
			clear: both;
			width: 100%;
			text-align: center;
			.nwtkco-edit {
				color: @klarnablue;
			}
		}
	}
	.nwtkco-radio-row {
		margin-bottom: 5px;
	}
	.nwtkco-section {
		padding: 0 20px;
		.nwtkco-title {
			padding: 0;
			border-bottom: 2px solid @bordercolor;
			cursor: pointer;
			user-select: none;
			h4 {
                margin: 10px 0;
				font-size: 16/14em;
				color: black;
				font-weight: 500;
                font-family:inherit;
                text-transform: none;
			}
			.nwtkco-toggler {
				display: block;
				float: right;
				font-size: 14/16em;
				line-height: 16/14em;
				font-weight: 400;
				color: @klarnablue;
			}
		}
		.nwtkco-section-content { 
			padding: 20px 0;
		}


		.nwtkco-title {
			.nwtkco-toggler {
				.nwtkco-show {
					display: inline;
				}
				.nwtkco-hide {
					display: none;
				}
			}
		}
		&.active {
			.nwtkco-title {
				.nwtkco-toggler {
					.nwtkco-show {
						display: none;
					}
					.nwtkco-hide {
						display: inline;
					}
				}
			}
		}
	}
	.nwtkco-column-heading {
		padding: 0;
		border-bottom: 6px solid @klarnablue;
		line-height: 34/18em;
		h2 {
			font-size: 18/14em;
			font-weight: 300;
            font-family:inherit;
			.number {
				margin-right: 12px;
				.circle(34px);
				background: @klarnablue;
				color: white;
				vertical-align: middle;
				box-shadow: 0 0 2px darken(@klarnablue, 10%) inset;
			}
			.nwtkco-additional-header-text {
				float: right;
				line-height: 34px;
				> * {
					vertical-align: middle;
				}
                a.btn-kco {
                    line-height: 1em;
                }
			}
		}
	}
	#kcoOrder {
		padding: 0 20px;
		@media @mobile {
			.box-sizing();
			width: 100%;
		}
		#nwtkco_klarna,
		#klarna-checkout-container {
			@media @mobile{
				width: 100%;
			}
		}
	}
	#nwtkco_usp,
	.page-title-wrapper {
		@media @tablet {
			display: none;
		}
	}
	#nwtkco_usp {
		float: right;
		width: 60%;
		height : 34px;
		line-height: 34px;
		margin-bottom: -34px;
		clear: none;
		font-size: 18/14em;
		.box-sizing();
		font-weight: 300;
		padding-right: 5px;
		text-align: right;
		.nwtkco_usp_inner {
			display: inline-block;
			max-width: 100/3%;
			color: @klarnablue;
			padding: 0 15px;
		}
	}
	h1.page-title {
		font-size: 32/14em;
		margin-bottom: 0;
	}
	.page-wrapper .page-header {
		@media @tablet {
			text-align: center;
		}
		.logo {
			margin: 0 0 35px 0;
		}
		> .panel {
			display: none;
		}
		.logo {
			@media @tablet {
				float: none;
				display: inline-block;
			}
		}
	}
	.cart.table-wrapper {
		border: medium none;
	}
.nwtkco-order-thankyou {
	.page-wrapper {
		.page-title-wrapper {
			text-align: center;
			margin-bottom : 25px;
		}
		.checkout-success {
			text-align: center;
			.actions-toolbar {
				div.primary {
					text-align: center;
					float: none;
					width: 100%;
				}
				a.action.primary {
					float: none;
				}
			}
		}
	}
}