<div data-role="ln_collapsible" class="filter-options-item expander-categories" role="presentation" data-collapsible="true">
    <div data-role="ln_title" class="filter-options-title expander-title" role="tab" aria-selected="false" aria-expanded="false" tabindex="0">
		<?php echo $block->getCategoryName() != "Märken" ? __('Categories') : __('Märken'); ?>
    </div>
    <div data-role="ln_content" class="filter-options-content expander-content" role="tabpanel" aria-hidden="true">
		<?php echo $block->buildBranch(); ?>
    </div>
</div>

<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        if ($(window).width() >  767 && <?php echo ($block->getCategoryName() != 'Märken' ? "true" : "false"); ?>) {
            $('.expander-content').show();
            $('.expander-categories').addClass('active');
        } else {
            $('.expander-content').hide();
            $('.expander-categories').removeClass('active');
        }
        $('.expander-title').click(function () {
            var expander = $('.expander-categories');
            $('.expander-content').slideToggle();
            if(expander.hasClass('active')) {
                expander.removeClass('active');
            } else {
                expander.addClass('active');
            }
        });

    });
</script>
