<?php

    // @codingStandardsIgnoreFile
    /** @var $block \NWT\KCO\Block\Checkout */

    //id  #nwtkco_klarna is mandatory
?>
    <div id="nwtkco_klarna">
<?php
        if($kOrder = $block->getKlarnaOrder()) echo $kOrder['gui']['snippet'];  // =!== <img src="http://alex.kraken.nordicwebteam.se/kco.jpg" />-->
        else echo '<span class="error">'.__('No klarna order').'</span>';
?>
    </div>
