<?php

    // @codingStandardsIgnoreFile
    /** @var $block \NWT\KCO\Block\Checkout */

?>
<?php if($kOrder = $this->getKlarnaOrder()): // =!== ?>
    <div id="kcoOrder">
        <?php echo $kOrder['gui']['snippet']; ?>
    </div>
<?php else: ?>
    <div class="error">No Klarna Order</div>
<?php endif; ?>