    <div class="nwtkco-column-heading">
        <h2>
            <span class="number">2</span>
            <?php echo __("Complete your order"); ?>
            <?php if(!empty($ht=$block->helper()->getHeaderText())): // =!== ?>
                <span class="nwtkco-additional-header-text"><?php echo $block->filter($ht); ?></span>
            <?php endif; ?>
        </h2>

    </div>
    <div id="kcoOrder">
        <?php echo $block->getChildHtml(); ?>
    </div>

