<div id="nwtkco_usp">
    <div class="nwtkco_usp_inner">
        <i class="fa fa-check-circle"></i>
        <?php echo __('Free shipping'); ?>
    </div>
    <div class="nwtkco_usp_inner">
        <i class="fa fa-check-circle"></i>
        <?php echo __('Fast delivery'); ?>
    </div>
    <div class="nwtkco_usp_inner">
        <i class="fa fa-check-circle"></i>
        <?php echo __('Secure payment'); ?>
    </div>
</div>