<?php $cCfg = 'data-mage-init=\'{"collapsible":{"openedState": "active", "saveState": true, "active": true}}\''; ?>
<div class="nwtkco-column-heading">
    <h2><span class="number">1</span> <?php echo __("View order"); ?></h2>
</div>
<div class="nwtkco-review" id="nwtkco-review">
    <?php if(count($block->getAllowCountries())>1): ?>
    <div class="nwtkco-country nwtkco-section mobile-show" id="nwtkco-country" <?php echo $cCfg; ?>>
        <div class="nwtkco-title" data-role="title">
            <h4 id="nwtkco-review-heading" role="heading" aria-level="2">
                <?php echo $block->escapeHtml(__('Country')) ?>
                <span class="nwtkco-toggler">
                    <span class="nwtkco-show"><?php echo __('Show'); ?> <i class="fa fa-angle-down"></i></span>
                    <span class="nwtkco-hide"><?php echo __('Hide'); ?> <i class="fa fa-angle-up"></i></span>
                </span>
            </h4>
        </div>
        <div class="nwtkco-section-content" data-role="content" aria-labelledby="nwtkco-review-heading">
            <form method="post" id="country-form"
                  action="<?php echo $block->escapeUrl($block->getCountrySubmitUrl()); ?>"
                  class="form">
                <?php echo $block->getChildHtml('country'); ?>
            </form>
        </div>
    </div>
    <?php endif; ?>
    
    <?php echo $block->getChildHtml('shipping'); ?>

    <div class="nwtkco-cart nwtkco-section mobile-collapse" id="nwtkco-cart" <?php echo $cCfg; ?>>
        <div class="nwtkco-title" data-role="title">
            <h4 id="nwtkco-cart-heading" role="heading" aria-level="2">
                <?php echo $block->escapeHtml(__('Shopping Cart')); ?>
                <span class="nwtkco-toggler">
                    <span class="nwtkco-show"><?php echo __('Show'); ?> <i class="fa fa-angle-down"></i></span>
                    <span class="nwtkco-hide"><?php echo __('Hide'); ?> <i class="fa fa-angle-up"></i></span>
                </span>
            </h4>
        </div>
        <div class="nwtkco-section-content" data-role="content" aria-labelledby="nwtkco-cart-heading">
            <?php echo $block->getChildHtml('cart') ?>
        </div>
    </div>
    <div class="nwtkco-discount nwtkco-section mobile-collapse" id="nwtkco-discount" <?php echo $cCfg; ?>>
        <div class="nwtkco-title" data-role="title">
            <h4 id="nwtkco-discount-heading" role="heading" aria-level="2">
                <?php /* @escapeNotVerified */ echo __('Apply Discount Code') ?>
                <span class="nwtkco-toggler">
                    <span class="nwtkco-show"><?php echo __('Show'); ?> <i class="fa fa-angle-down"></i></span>
                    <span class="nwtkco-hide"><?php echo __('Hide'); ?> <i class="fa fa-angle-up"></i></span>
                </span>
            </h4>
        </div>
        <div class="nwtkco-section-content" data-role="content" aria-labelledby="nwtkco-discount-heading">
            <?php echo $block->getChildHtml('coupon') ?>
        </div>
    </div>

    <?php if($block->helper()->commentField()): ?>
    <div class="nwtkco-comment nwtkco-section mobile-collapse" id="nwtkco-comment" <?php echo $cCfg; ?>>
        <div class="nwtkco-title" data-role="title">
            <h4 id="nwtkco-comment-heading" role="heading" aria-level="2">
                <?php /* @escapeNotVerified */ echo __('Leave a comment') ?>
                <span class="nwtkco-toggler">
                    <span class="nwtkco-show"><?php echo __('Show'); ?> <i class="fa fa-angle-down"></i></span>
                    <span class="nwtkco-hide"><?php echo __('Hide'); ?> <i class="fa fa-angle-up"></i></span>
                </span>
            </h4>
        </div>
        <div class="nwtkco-section-content" data-role="content" aria-labelledby="nwtkco-comment-heading">
            <?php echo $block->getChildHtml('comment') ?>
        </div>
    </div>
    <?php endif; ?>
    
    <div class="nwtkco-newsletter nwtkco-section mobile-collapse" id="nwtkco-newsletter" <?php echo $cCfg; ?>>
        <div class="nwtkco-title" data-role="title">
            <h4 id="nwtkco-newsletter-heading" role="heading" aria-level="2">
                <?php /* @escapeNotVerified */ echo __('Subscribe to newsletter') ?>
                <span class="nwtkco-toggler">
                    <span class="nwtkco-show"><?php echo __('Show'); ?> <i class="fa fa-angle-down"></i></span>
                    <span class="nwtkco-hide"><?php echo __('Hide'); ?> <i class="fa fa-angle-up"></i></span>
                </span>
            </h4>
        </div>
        <div class="nwtkco-section-content" data-role="content" aria-labelledby="nwtkco-newsletter-heading">
            <?php echo $block->getChildHtml('newsletter') ?>
        </div>
    </div>
</div>

<span class="please-wait load indicator" id="review-please-wait" style="display: none;"
      data-text="<?php echo $block->escapeHtml(__('Submitting order information...')); ?>">
    <span><?php echo $block->escapeHtml(__('Submitting order information...')); ?></span>
</span>

<script type="text/x-magento-init">
    {
        "#nwtkco-review": {
            "nwtKlarnaCheckout": {
                "ctrlkey": "<?php echo $block->getQuoteSignature(); ?>",
                "ctrlcookie": "<?php echo $block->getCartCtrlKeyCookieName();?>",
                "klarnaShippingAddressChange": "<?php echo $block->getShippingAddressSubmitUrl();?>"
            }
        }
    }
</script>
