.cache-warmer__info {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.3rem;
    outline: 5px solid rgba(74, 69, 66, 0.6);
    border-radius: 0;
    z-index: 1000000;
    box-shadow: 2px 2px 2px 0 rgba(50, 50, 50, 0.25);
    max-width: 90%;
    min-width: 30rem;

    >strong {
        text-align: center;
        font-weight: 600;
        display: block;
        padding: 1rem 2rem;
        color: #fff;
        background: #333;
    }

    &._hit {
        >strong {
            background: #69BA6D;
        }
    }

    &._miss {
        >strong {
            background: #D0011B;
        }
    }


    .cache-warmer__info-body {
        padding: 1rem 2rem;
        background: #fff;
        text-align: center;

        >strong {
            text-align: center;
            font-size: 2.8rem;
            font-weight: 800;
            text-transform: uppercase;
            color: #928f8e;
        }
    }

    table {
        tr {
            th, td {
                background: #fff;
                padding: .5rem 1rem;
                font-size: 1.2rem;
            }
            th {
                background: #f1f1f1;
                padding: 1rem;
                text-align: center;
            }
            td {
                text-align: left;
                border-bottom: 1px solid #f1f1f1;
            }
        }
    }
}