<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Catalog\Product\View\Addto\Compare */
?>

<!--<a href="#" data-post='<?php /* @escapeNotVerified */// echo $block->getPostDataParams();?>'
        data-role="add-to-links"
        class="action tocompare"><span><?php /* @escapeNotVerified */ echo __('Add to Compare') ?></span></a> -->
		
<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A//friluftsvaror.se" class="action" title="Facebook" target="_blank"><i class="porto-icon-facebook"></i></a>
