@font-face {
    font-family: "Arial-Rd";
    src: url("../fonts/ArialRoundedMTBold.eot");
    src: url("../fonts/ArialRoundedMTBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/ArialRoundedMTBold.woff2") format("woff2"),
    url("../fonts/ArialRoundedMTBold.woff") format("woff"),
    url("../fonts/ArialRoundedMTBold.ttf") format("truetype"),
    url("../fonts/ArialRoundedMTBold.svg#ArialRoundedMTBold") format("svg");
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham-Bold.eot");
    src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Bold.woff2") format("woff2"),
    url("../fonts/Gotham-Bold.woff") format("woff"),
    url("../fonts/Gotham-Bold.ttf") format("truetype"),
    url("../fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
}
@font-face {
    font-family: "Gotham-Thin";
    src: url("../fonts/Gotham-Thin.eot");
    src: url("../fonts/Gotham-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gotham-Thin.woff2") format("woff2"),
    url("../fonts/Gotham-Thin.woff") format("woff"),
    url("../fonts/Gotham-Thin.ttf") format("truetype"),
    url("../fonts/Gotham-Thin.svg#Gotham-Thin") format("svg");
}
html, body ,p{
    color: #262626;
    font-size: 14px;
    font-family: "Roboto" , "sans-serif";
    font-weight: 400;
}
.action.primary:focus, .action.primary:active{
    background: #81C14B;
    border: 1px solid #81C14B;
}
.page-header.type18.sticky-header .minicart-wrapper .action.showcart .counter.qty {
    margin-top: 3px;
}
/*Header*/
.page-wrapper .top_header{text-align: center;padding: 0;margin-left: 8%;}
.page-wrapper .top_header .top_hader_text{width: 91.5%;position: relative;padding: 5px 5px;background: #f0f0ed;}
.page-wrapper .top_header .top_hader_text .text_right_header{float: left;}
.page-wrapper .top_header .top_hader_text .text_left_header{float: right;}
.minisearch #search{
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 125, 70, 0.38);
    border-radius: 3px;
    padding: 6px 10px;
    width: 410px;
    left: -370px;
}
ul.uk-list {
    text-align: left;
    padding-top: 10px;
    text-align-last: left;
    padding-left: 20px;
}
a:visited, .alink:visited {
    color: #007d46;
    text-decoration: none;
}

.product-info-main .product-options-bottom .box-tocart .fieldset{
    text-align: right;
}
.product-info-main .product-add-form .box-tocart .actions{
    margin-right: 0;
}
.block-search .action.search:before{font-size: 24px;font-weight: 800;}
.slidehome .parallax-wrapper{
    width: 100vw;
    margin-left: calc(-50vw + 50% - 15px);
}
body.boxed .page-wrapper{
    overflow: unset;
}
.filter-content .item input[type="checkbox"] {
    position: relative;
    top: 3px;
}
.page-wrapper .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-nav .owl-prev{
    left: -100px;
	background: transparent;
    color: #007d46;
	display: block !important;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-prev {
	position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: -250px;
    left: -50px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-next{
	position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -50px;
    /* vertical-align: middle; */
    top: -250px;
}
.owl-carousel .owl-controls .owl-nav [class*=owl-]{font-size: 40px}
.new-products .owl-carousel .owl-controls .owl-nav .owl-prev {
	position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: 130px;
    left: -70px;
}
.new-products .owl-carousel .owl-controls .owl-nav .owl-next{
	position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -70px;
    /* vertical-align: middle; */
    top: 130px;
}
.page-wrapper .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-nav .owl-next{

    right: -100px;
    z-index: 1;
	background: transparent;
    color: #007d46;
   display: block !important;
}
.fontResize img{
    width: 80px;
}
.block.block-content .porto-icon-heart-1, .block-content .porto-icon-user {
    display: inline-block;
    font-size: 25px;
}
.page-header.type18 .block-search .action.search:before {
    color: #000;
    opacity: 1;
    font-size: 24px !important;
    line-height: normal;
}
.page-header.type18 .block-search .action.search {
    position: relative;
    float: left;
    opacity: 1 !important;
    padding: 3px;
}
.page-header.type18 .block-search {
    width: 220px !important;
    margin: 0;
}
.fontResize {
    float: left;
    width: 200px;
    text-align: left;
   padding: 10px 60px;
}
.header .logo {
    float: left;
    margin: 0;
    padding: 20px 0;
   /*  width: calc(100% - 420px); */
    text-align: left;
    max-width: 100%;
}
.header .logo img{
    text-align: center;
    display: inline-block;
}
.page-header.type18 .minicart-wrapper {
    bottom: unset;
    top: 19px;
    background: transparent;
    width: 50px;
    right: 40px;
    z-index: 4;
}
.page-header.type18 .minicart-wrapper .action.showcart .counter-label {
    display: none;
}
.page-header.type18 .minicart-wrapper .action.showcart .counter-number:before {
    content: "\f07a";
    font-family: FontAwesome;
    font-size: 24px;
}
.page-header.type18 .minicart-wrapper .action.showcart .counter.qty{
    margin-top: 8px;
}
.page-header.type18 .minicart-wrapper .action.showcart .counter-number {
    position: relative;
    font-size: 16px;
    line-height: normal;
	padding-bottom: 0px;
	margin-top: 3px;
}
.page-header.type18 .nav-sections .navigation > ul {
    padding: 0;
    text-align: center;
}
.page-header.sticky-header .navigation ul .level0 > .level-top {
	color: #111;
}
.page-header.type18 .navigation ul .level0 > .level-top {
    font-family: Roboto;
    font-weight: 500;
	
}
.page-wrapper .top_header .top_hader_text span {
    color: #000;
}
.catalog-product-view .category-image{display:none}
/*Header close*/

/*courosule*/
.owl-banner-carousel .owl-stage-outer .content{
    background-color: transparent;
    padding: 0;
    font-family: Gotham-Bold;
    right: unset !important;
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.owl-banner-carousel .owl-stage-outer .content span {
    color: #fd1106;
}
.buttonslide button:not(.primary) {
    border: 1px solid #007d46;
    color: #fff;
    line-height: 30px;
    padding: 0 12px;
    background-color: rgba(0, 125, 70, 0.63);
    font-size: 34px;
    padding: 10px 40px;
    height: auto;
    font-family: Gotham-Bold;
}
.buttonslide button:not(.primary):hover,
.buttonslide button:not(.primary):focus{
    background-color: rgba(253, 17, 6, 0.78);
    border-color:#fd1106;
}
button , a{
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.page-wrapper .parallax {
    padding: 60px 0 !important;
    height: 100%;
}
.page-wrapper .parallax-wrapper {
   /*  width: 100vw;
    margin-left: calc(-50vw + 50% - 10px); */
    height: 400px;
    padding-bottom: 0 !important;
}
.owl-banner-carousel .owl-stage-outer .content h1{
    font-family: Gotham-Bold;
}

.owl-banner-carousel .owl-stage-outer .content center h1:first-child {
    padding: 0 40px;
}
.owl-banner-carousel .owl-stage-outer .content h1 {
    font-family: Gotham-Bold;
}
h1.slidetextbig {
    font-size: 55px;
    margin: 0;
    color: #ff1313;
}
.owl-carousel .owl-item center {
    max-width: 500px;
}
/*courosule close*/
/*Paralex*/
.parallax-content .paraCon {
    width: calc(100% - 200px);
    font-family: Gotham-Bold;
    float: left;
    position: relative;
}
.parallax-content .bagpack {
    width: 180px;
}
.parallax-content .paraCon h2 {
    margin: 0;
}
.parallax-content .paraCon > h1 {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 70px;
    font-weight: 700;
}
.parallax-content .paraCon {
    font-family: Roboto;
    color: #000;
}
.parallax-content .whitelogo {
    position: absolute;
    right: 8%;
    bottom: 20px;
    width: 280px;
}
.parallax-content .paraConDis {
    padding-top: 70px;
}

.parallax-content .paraCon h2 {
    font-weight: 700;
}
.parallax-content .paraConDis .price {
    display: inline-block;
    font-weight: 700;
}
.parallax-content .paraConDis .price.discount {
    color: #cd0101;
    margin: 0;
    font-size: 60px;
}
.parallax-content .paraConDis .price span {
    font-family: Roboto;
}
.parallax-content .paraConDis .price.regular{
    margin: 0;
    margin-left: 20px;
    text-decoration: line-through;
    color: #787878;
    font-size: 24px;
}
.page-wrapper .parallax{
    background-size: 100% 100% !important;
    background-position: 100% 65% !important;
}
.bundle-options-container .block-bundle-summary .product-addto-links>.action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .moved-add-to-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button>.action.split, .product-social-links .action.mailto.friend, .moved-add-to-links .action.mailto.friend, .product-social-links .action.towishlist, .product-addto-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist{
    border: none;
}
/*Paralex close*/
/*Footer*/
footer .foot-content
{
    /*width: 100vw;*/
    /*margin-left: calc(-50vw + 50% - 0px);*/
    background: url("../images/footer-bg.jpg")no-repeat;
    padding-top: 240px;
    background-size: 100% 100%;
    overflow-x: hidden;
    padding-left: 15px;
    padding-right: 15px;
}
.category-talt .footer {
    overflow-x: hidden;
    width: 1280px;
    margin: 0 auto;
    max-width: 100%;
}
.catalog-product-view .footer {
    width: 1280px;
    margin: 0 auto;
    overflow: hidden;
    max-width: 100%;
}
.flex-owl-slider .owl-item .item{
    border-left: none;
}
footer .homepage-bar{
    border-bottom: none;
}
#brands-slider .owl-item .item img {
    max-width: 75%;
}
footer .footer-middle{
    background-color: transparent;
}
.owl-banner-carousel.owl-carousel .owl-item img{
    width: 100%;
}
.footer .custom-block {

    /*width: 100vw;*/
    /*margin-left: calc(-50vw + 50% - 0px);*/
    width: 100vw;
    margin-right: 0;
    margin-left: calc(-50vw + 50% - 0px);
}
.cms-index-index .footer .custom-block {
    background: #f4f4f4;
    width: auto;
    margin-left: -15px;
    margin-right: -15px;
}
.page-wrapper{
    background:none;
    background-size: cover;
    background-attachment: fixed;
}
.cms-porto-home-15 .page-wrapper {
    background: #fff;
}
#brands-slider .owl-item {
    height: 140px;
    padding: 20px 0;
}
#brands-slider .owl-item .item ,#brands-slider .owl-item .item img{
    height: 100%;
    margin: 0 auto;
}
#brands-slider .owl-item .item {
    height: 100%;
}
.footer-middle .block.newsletter .control #footer_newsletter {
    padding: 5px 8px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #2c2c2c;
}
footer .block.newsletter .actions .action {
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    width: 120px;
    padding: 5px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    font-family: Roboto;
}
footer .block.newsletter .actions .action span{
    font-weight: 300;
    text-transform: capitalize;
}
.block.newsletter .field {
    margin: 0;
    width: calc(100% - 128px);
    float: left;
    display: inline-block;
}
footer .block.newsletter .actions{
    display: inline-block;
    width: auto;
    margin-left: 8px;
}
.footer p ,.footer a{
    color: #7c7c7c;
}
footer .footer-middle  .block.newsletter, footer .footer-middle .block.newsletter .form.subscribe{
    max-width: 100%;
    width: 100%;
}
.footer-middle .block .block-title strong span {
    font-family: Roboto;
    font-size: 18px;
}
footer .footer-middle .block.newsletter label {
    display: none;
}
input#footer_newsletter::-webkit-input-placeholder {
    color: #6b6b6b;
}
input#footer_newsletter::-moz-placeholder { /* Firefox 19+ */
    color: #6b6b6b;
}
input#footer_newsletter:-ms-input-placeholder { /* IE 10+ */
    color: #6b6b6b;
}
input#footer_newsletter:-moz-placeholder { /* Firefox 18- */
    color: #6b6b6b;
}
.besok_oos_list a {
    color: #fff;
}
.besok_oos_list a:hover, .besok_oos_list a:focus {
    color: #7c7c7c;
}
footer .block-content img {
    margin-right: 8px;
}
/*Footer close*/
/*Home page products*/
.home-banner-content .item a {
    color: #007d46;
    font-family: Roboto;
    font-weight: bold;
}
.wrapper.products-grid:not(.side-list):not(.products-related):not(.small-list) .product-item .product-item-info {
    background: transparent;
}
.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item .product-item-photo img{
    min-height: auto;
}
.products-related .product-items .owl-item .product-image-photo , .products-upsell .product-items .owl-item .product-image-photo
{
    height: 320px;
}
.products-grid .product-item .product-reviews-summary{
    display: none;
}
.products-grid .product-item .product-item-details {
    text-align: left;
}
.product .product.name a {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    color:#007d46;
}
.product .price-box .price {
    font-family: Roboto;
    font-weight: 500;
}
.wrapper.products-grid .product-item .product-item-inner, .wrapper.products-grid .product-item-details .product-item-actions {
    margin: 0;
    display: inline-block;
}
.wrapper.products-grid .product-item-info:hover .product-item-details .product-item-actions .actions-secondary.tocompare {
    display: none;
}
.wrapper.products-grid .product-item-details .product-item-actions {
    display: inline-block;
}
.wrapper.products-grid .product-item .product-item-inner {
    float: right;
    width: 28px;
}
.products-grid .product-item .product-item-details .flu_col_1 {
    width: calc(100% - 40px);
    float: left;
}
.wrapper.products-grid .product-item .product-item-details{
    padding-bottom: 0;
    float: left;
    width: 100%;
}
.products-grid .product-item .product-item-details .price-box {
    display: inline-block;
    float: left;
    margin-top: 0;
}
.filterproduct-title .content{
    background-color: transparent;
    text-align: center;
    display: block;
    padding: 0;
}
.filterproduct-title .content strong{
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    color:#007d46;
}
.wrapper.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist {
    right: 0;
    visibility: visible;
    opacity: 1;
    border: none;
    color: #017d46;
    background-color: transparent;
}
.wrapper.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist:hover{color: #81C14B}
.cms-index-index {
    overflow-x: hidden;
}
/*.owl-carousel.owl-loaded.owl-banner-carousel:after {*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 100pc;*/
    /*top: 0;*/
    /*height: 100%;*/
    /*left: 100%;*/
    /*background: #fff;*/
/*}*/
/*.owl-carousel.owl-loaded.owl-banner-carousel:before {*/
    /*content: "";*/
    /*position: absolute;*/
    /*width: 100pc;*/
    /*top: 0;*/
    /*height: 100%;*/
    /*right: 100%;*/
    /*background: #fff;*/
/*}*/
.products-grid .owl-carousel .product-item-details .product-item-actions .actions-primary{
    display: none;
}
.products.wrapper .product-items.masonry-grid .grid:not(.double) .product-image-photo.default_image {
    height: auto;
	margin-bottom: 40px;
}
/*Home page products close*/

/*************==============Product Listing Page================*****************/
.page-wrapper .category-image{
    position: relative;
    margin: 0 auto;
    width: 1280px;
}
.page-wrapper > .breadcrumbs{
    background: transparent;
    text-align: center;
    float: left;
    width: 100%;
    height: 0px;
}

.page-wrapper .breadcrumbs li a ,.page-wrapper .breadcrumbs li strong{
    font-weight: 600;
    font-family: Roboto;
    color: #000;
}
.page-wrapper .breadcrumbs li.home a:hover{
    color: #007d46;
}
.breadcrumbs .items>li {
    position: relative;
}
.breadcrumbs .items>li:not(:last-child):after {
    content: "\f107" !important;
    font-family: FontAwesome !important;
    color: #000 !important;
    position: relative;
    font-size: 18px !important;
    font-weight: 600 !important;
}
.page-wrapper .breadcrumbs li.home a{
    width: 20px;
}
.catalog-category-view .page-wrapper {
    /*background: #fefefe;*/
}
.footer .custom-block .container {
    background: #f2f2f2;
}
.breadcrumbs li:not(.home) a ,
.breadcrumbs li strong{
    font-size: 13px;
}
.page-wrapper .cat_img_text p{
    bottom: 40px;
    left: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
}
.page-wrapper .cat_img_text{
	position: absolute;
    bottom: 40px;
    left: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 36px;
}

#layer-product-list .product-image-photo.default_image{
    min-height: 260px;
}
#layer-product-list .wrapper.products-grid .product-item .product-item-details{
    position: relative !important;
}
#layer-product-list .wrapper.products-grid .product-item-details .product-item-actions{
    position: absolute;
    top: 15px;
}
.page-wrapper .top_header .top_hader_text{
    width: 1240px;

    margin: 0 auto;
}
.page-wrapper .top_header{
    margin: 0 auto;
    background-color: #f0f0ed;
}
/* button.action.search:not(#search-nw) {
    display: none;
} */
.page-header.type18 .block-search #search-nw {display: none;}
/*.footer {*/
    /*overflow-x: hidden;*/
/*}*/
/*************==============Product Listing Page close================*****************/

/*************==============Product Details Page close================*****************/
.product-info-main .page-title-wrapper .page-title {
    font-size: 28px;
    text-align: left;
    font-weight: 100;
    font-family: Roboto;
    color: #007d46;
}
.product-desc-group {
    background: #fff;
}
.product-view-details {
    padding: 20px;
    background-color: #fff;
    float: left;
    width: calc(100% - 40px);
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
}
.page-wrapper > .breadcrumbs .items{
    padding: 5px 35px 0 !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    text-align: left;
}
.catalog-product-view .block .title strong {
    color: #636363;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    padding-bottom: 0;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
}
.product-det-spec .table-striped > tbody > tr:nth-of-type(odd){
    background-color: #ededed;
    color: #000;
    font-weight: 700;
    font-size: 16px;
}
.product-det-spec .table-striped > tbody > tr:nth-of-type(even){
    color: #000;
    font-weight: 700;
    font-size: 14px;
}
.product-det-spec > p {
    font-size: 18px;
    line-height: 28px;
    color: #000;
}
.product-det-spec > h3 {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    }
.product-description .product-det-image {
    width: 300px;
    float: left;
    padding: 20px;
}
.product-description .product-det-spec {
    width: calc(100% - 300px);
    float: left;
    padding: 20px;
    font-family: Roboto;
}
.product-view-details .product-info-price .price-box .price-container .price{
    font-family: Roboto;
    font-size: 37px;
    font-weight: 700;
    color: #017d46;
}
.product-view-details .product-info-price .action.tocart:before{
    display: none;
}

.action.primary, .action.primary:active{
    background-color: #017d46;
    color: #fff;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
}
.catalog-product-view #maincontent {
    background: #ffffff;
}
.page-wrapper > .breadcrumbs{
    height: auto;
    background-color: transparent !important;
    }
.page-wrapper > .breadcrumbs .items{
    background: #fff;

}
.box-tocart .actions .action.tocart:before{
    display: none;
}
.product-info-main .product-info-price .price-box .price-final_price>span{
    text-align: right;
}
.product-info-main .box-tocart .actions{
    float: right;
}
.product-info-main  .moved-add-to-links{
    float: left;
}
.product-social-links ,.product-info-main .product-info-price ,.product-options-wrapper ,.product-info-main .product.overview{
    border:none !important;
}
.product-info-main .product.overview{
    float: left;
    width: 100%;
}
.product-addto-links .action.towishlist, .action.towishlist {
    border: 1px solid #e2e2e2;
    float: left;
}
.product-add-form .moved-add-to-links .action:last-child{
    height: 43px;
    width: 43px;
    display: table;
    float: left;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
.product-add-form .moved-add-to-links .action:last-child .porto-icon-facebook {
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: #555;
}
.product-add-form.moved-add-to-links *{
    -webkit-transition: 0.35s ease;
    -moz-transition: 0.35s ease;
    -ms-transition: 0.35s ease;
    -o-transition: 0.35s ease;
    transition: 0.35s ease;
}
.product-add-form .moved-add-to-links .action:last-child:hover .porto-icon-facebook{
    color: #3b5998;
}
.product-add-form .action.towishlist:hover{
    color: #ed4949;
}
.product-info-main .product-info-stock-sku{
    float: right;
    padding-left: 0;
    min-width: unset;
    width: 100%;
    text-align: left;
    padding-bottom: 0;
}
.product-info-main .product-info-stock-sku .available {
    position: relative;
    color: #007d46;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
}
.product-info-main .product-info-stock-sku .available:before{
    content: "\f058";
    font-family: FontAwesome;
    font-size: 20px;
    margin-right: 5px;
}
.product-info-main .product.overview .value {
    font-size: 18px;
    font-family: Roboto;
    text-align: left;
	padding: 0px;
    margin: 0px;
}
.product-info-main .product.overview .value ul.uk-list{text-align: left;
    padding-top: 5px;
    text-align-last: left;
    padding-left: 20px;
    line-height: 20px;}
.product-addto-links .action.towishlist {
    background: transparent !important;;
    color: #999999;
}
.product-description {
    padding: 0 35px;
    padding-bottom: 15px;
}
.category-talt .breadcrumbs .items {
    background-color: #fff;
}
#ln_slider_price .ui-slider-handle ,#ln_slider_price.ui-slider-horizontal{
    background-color: #111;
}
.block-category-list .block-title strong{
    color: #050203;
}
/*************==============Product details Page close================*****************/
/*KK css*/
.products.wrapper .product-items.masonry-grid {
    margin: 0 -1.5px;
}
.masonry-grid .grid {
    width: 20%;
    float: left;
    padding: 0 1.5px;
}
.masonry-grid .grid.double{
    width: 39.9%;
}
.products.wrapper .masonry-grid .item {
    padding: 1.5px 0;
    position: relative;
    width: 100%;
}
.products-grid .masonry-grid .product-item .product-item-inner {
    right: 30px;
    top: 17px;
}
.products-grid .product-item-actions {
    margin: 0;
}
.products-grid .product-item .swatch-attribute-options {
    margin: 0;
}
.products-grid .product-item .product-item-details {
    text-align: left;
    position: relative !important;
}
.products-grid .product-item .product-item-details .product-item-name {
    padding-right: 30px;
}
.products-grid .masonry-grid .product-item .product-item-details, .products-grid .masonry-grid .product-item-actions {
    display: none;
}

.products-grid .product-item-details .product-item-actions .actions-secondary.towishlist {
    right: 0;
    visibility: visible;
    opacity: 1;
}
.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist {
    border: none;
}
.products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist:before {
    font-size: 20px;
}
.products-grid .masonry-grid .grid.double .item .product-item-details {
    display: block;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 22px 27px;
    opacity: 1;
    z-index: 3;
    visibility: visible;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.3s;
}
.products-grid .masonry-grid .grid.double .item:hover .product-item-details{
    visibility: visible;
    opacity: 1;
}
.products-grid .masonry-grid .grid.double .item:hover .product-item-actions {
    display: block;
}
.products.wrapper .product-items.masonry-grid {
    margin: 0 -1.5px;
}
.masonry-grid .grid {
    width: 20%;
    float: left;
    padding: 0 1.5px;
}
.masonry-grid .grid.double{
    width: 39.9%;
}
.products.wrapper .masonry-grid .item {
    padding: 1.5px 0;
    position: relative;
    width: 100%;
}
.cms-porto-home-15 .page-main{display:none;}
.products.wrapper .product-items.masonry-grid .grid.double .product-image-photo.default_image{
    height: auto;
	margin-bottom: 81px;
}

#ln_slider_price.ui-slider-horizontal {
    background-color: #21293c !important;
}
#ln_slider_price .ui-slider-handle {
    background-color: #21293c !important;
}
#masonry_grid_new .masonry-grid .grid .product-item .product-item-details {
display: block;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 30px 0px 35px;
    opacity: 1;
    z-index: 3;
    visibility: visible;
    background-color: rgba(0,0,0,0.04);
    transition: all 0.3s;
}
/*KK css close*/
.block-category-list .plus_icon :after{
	content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #050203;
    font-size: 18px;
       padding-right: 1em;
    position: absolute;
    top: 28px;
    right: 0;
}
.block-category-list .minus_icon :after{
	content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
/*--adjust as necessary--*/
    color: #050203;
    font-size: 18px;
       padding-right: 1em;
    position: absolute;
    top: 28px;
    right: 0;
}
#minicart-content-wrapper #top-cart-btn-checkout {display:none;}
.home_info_content p{
	font-size: 16px;
    padding: 5px;
    text-align: justify;
}
/*Responsive*/
@media (max-width: 1280px){
	
	    .page-wrapper .top_header .top_hader_text{
        width: 80%;
    }
}
@media (max-width: 1200px){
    /*footer .foot-content ,*/
     .page-wrapper .parallax-wrapper{
        margin-left: calc(-50vw + 50% - 0px);
    }
}
@media (min-width: 1100px){
    .page-header.type18 .header.content{
        width: 1100px;
        max-width: 100%;
    }
}
@media (max-width: 1199px){
    .products.wrapper .product-items.masonry-grid .grid:not(.double) .product-image-photo.default_image {
        height: 215px;
    }
    .wrapper.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item .product-item-photo img{
        min-height: 215px;
    }
    .products.wrapper .product-items.masonry-grid .grid.double .product-image-photo.default_image{
        height: 433px;
    }
    .owl-banner-carousel .owl-stage-outer .content h1:not(.slidetextbig){
        font-size: 30px;
    }
    .owl-banner-carousel .owl-stage-outer .content h1.slidetextbig{
        font-size: 38px;
    }
    .buttonslide button:not(.primary){
        font-size: 26px;
    }
    .page-wrapper .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-nav .owl-next{
        right: -20px;
    }
    .page-wrapper .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-nav .owl-prev{
        left: -20px;
    }
}
@media (max-width: 991px) {
    .masonry-grid .grid {
        width: 50%;
    }
    .masonry-grid .grid.double {
        width: 100%;
    }
    .masonry-grid .grid:last-child {
        width: 100%;
    }
    .masonry-grid .grid:last-child .item {
        width: 50%;
        float: left;
        padding: 1.5px;
    }
    .products.wrapper .product-items.masonry-grid .grid.double .product-image-photo.default_image{
        height: auto;
    }
    .products.wrapper .product-items.masonry-grid .grid:not(.double) .product-image-photo.default_image {
        height: 350px;
    }
    .parallax-content .whitelogo{
        right: 4%;
        width: 180px;
    }
    .parallax-content .paraCon > h1{
        font-size: 55px;
    }
    .parallax-content .paraCon h2{
        font-size: 26px;
    }
    .parallax-content .paraConDis .price.discount{
        font-size: 50px;
    }
    .parallax-content .paraConDis .price.regular{
        font-size: 22px;
    }
    .owl-banner-carousel .owl-stage-outer .content h1:not(.slidetextbig){
        font-size: 24px;
        margin: 20px auto;
    }
    .owl-banner-carousel .owl-stage-outer .content h1.slidetextbig{
        font-size: 34px;
    }
    .buttonslide button:not(.primary){
        font-size: 22px;
        padding: 6px 30px;
    }
    .block.newsletter .field {
        width: 100%;
    }
    footer .block.newsletter .actions{
        margin: 10px auto;
        float: none;
        text-align: center;
        width: 100%;
    }
    .header .nav-toggle {
        float: right;
    }
    .products-related .product-items .owl-item .product-image-photo ,.products-upsell .product-items .owl-item .product-image-photo{
        height: 500px;
    }
	.minisearch #search {
       display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 125, 70, 0.38);
    border-radius: 3px;
    padding: 6px 10px;
    width: 200px;
    left: -160px;
}
}
@media (max-width: 800px){
.minisearch #search {
    width: 220px;
    left: -180px;
}
.fontResize {
    float: left;
    width: 200px;
    text-align: left;
    padding: 5px 12px;
}
    .page-wrapper .cat_img_text p {

        font-size: 34px;
    }
}

@media (min-width: 768px){
    .page-header.type18 .block-search .action.search{
        left: 0%;
    }
    .block-content .porto-icon-user{
        position: relative;
        left: 18px;
    }
    .block.block-content .porto-icon-heart-1 {
        left: 22px;
        position: relative;
    }
	.box-tocart .action.tocart {
    height: 43px;
    font-size: 12px !important;
    letter-spacing: 1px;
    font-weight: 400;
    max-width: 180px;
    }
	.moved-add-to-links {
    display: block;
    margin-top: 0px;
}
.page-wrapper > .breadcrumbs .items {
    padding: 5px 54px 0 !important;
    padding-top: 5px !important;
    padding-bottom: 0px !important;
    text-align: left;
}
.product-view-details {
    padding: 20px;
    background-color: #fff;
    float: left;
    width: calc(100% - 40px);
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0px;
}

}

@media (max-width: 768px){
.minisearch #search {
    display: block;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 125, 70, 0.38);
    border-radius: 3px;
    padding: 6px 10px;
    width: 200px;
    left: -158px;
}
.fontResize {
    float: left;
    width: 200px;
    text-align: left;
    padding: 5px 15px;
}
}
@media (max-width: 767px) {
    .page-wrapper .page-header .logo {
    margin: 7px 0 15px 0 !important;
}
#cookienotification-block {
    padding: 10px 0 0 10px !important;
    line-height: 1.2em !important;
}

    .navigation li.level0 .ui-menu-item > a:before {

        float: right;
    }
    .navigation .level0 {
        font-size: 15px;
    }

    header.page-header .nav-sections-item-content {
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 7px;
        width: 100%;
    }
    .wrapper.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item .product-item-photo img{
        height: auto;
        min-height: unset;
    }
    .navigation .submenu:not(:first-child) ul > li {
        margin: 0;
        text-align: left;
    }
    .page-header.type18 .block-search {
        width: 100% !important;
        margin: 0;
        float: left;
        position: relative;
    }
    .page-wrapper > .container {
        padding: 0 !important;
    }
    .minisearch #search{
        left: 0;
        width: 100%;
        right: 0;
        margin: 0 auto;
        top: 53%;
        height: 33px;
        display: none;
    }
    .page-header.type18 .logo{
       float: left;
        width: 150px;
        max-width: 100%;
    }
    .block-search .label.active+.control input{
        position: absolute;
    }
    .block.block-content .porto-icon-heart-1 {
        position: relative;
          /* top: -61px;*/
           left: 63%;
    }
    .block-content .porto-icon-user {
        position: relative;
           /* top: -62px;*/
            left: 20%;
    }
    .page-header.type18 .minicart-wrapper {
        position: absolute;
        bottom: 4px !important;
        top: unset;
        left: 90%;
    }
    .header .nav-toggle {
        position: absolute;
        left: 20px;
        bottom: 0px;
    }
    .page-header.type18 .block-search .label{
        margin-right: 50%;
        z-index: 1;
        position: relative;
        bottom: 15px;
    }
    .page-header.type18 .block-search .label:before ,.header .nav-toggle:before{
        color: #111;
    }
    .products-related .product-items .owl-item .product-image-photo ,.products-upsell .product-items .owl-item .product-image-photo{
        height: auto;
    }
    .product-description .product-det-image{
        width: 100%;
        text-align: center;
    }
    .product-description .product-det-spec{
        width: 100%;
    }
    .page-header.type18{
        margin-bottom: 0;
    }
	.page-wrapper .category-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.page-wrapper .cat_img_text {
    position: absolute;
    bottom: 0px;
    left: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}
.block-category-list .block-title strong{
	border: 1px solid #cccccc;
    text-align: center;
    padding: 6px 10px;
    background-color: #ffffff;
    box-shadow: inset 0 1px 0 0 #ffffff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    border-radius: 3px;
    color: #676767;
    font-size: 15px;
    font-weight: 500;
	
}

.block-category-list .block-content{
	display:none;
}
.new-products .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: 130px;
    left: -45px;
}
.new-products .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -45px;
    /* vertical-align: middle; */
    top: 130px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: -250px;
    left: -25px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -25px;
    /* vertical-align: middle; */
    top: -250px;
}
}
@media (max-width: 650px) {
    .wrapper.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item .product-item-photo img{
        height: 350px;
    }
	.block .block-title {margin: -20px 0 -23px !important;}
    .parallax-content .bagpack{
        float: none;
        display: block;
        margin: 0 auto;
        width: 125px;
    }
    .page-wrapper .parallax-container .parallax{
        padding: 20px 0 !important;
    }
    .parallax-content .paraCon > h1{
        font-size: 30px;
    }
    .parallax-content .paraCon h2{
        font-size: 16px;
    }
    .parallax-content .paraConDis {
        padding-top: 20px;
    }
    .parallax-content .paraConDis .price.discount{
        font-size: 28px;
    }
    .parallax-content .paraConDis .price.regular {
        font-size: 18px;
    }

.block-category-list .block-title {
    margin-left: 85px;
    margin-bottom: 15px;
    margin-top: -12px;
    padding: 16px 20px 4px 20px !important;
}
}
@media (max-width: 650px) {
    .wrapper.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item .product-item-photo img{
        height: 280px;
    }
    .page-wrapper .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-nav .owl-next ,
    .page-wrapper .owl-banner-carousel.owl-middle-narrow .owl-controls .owl-nav .owl-prev{
        display: none;
    }
    .page-wrapper .top_header .top_hader_text{
        height: 80px;
    }
    .page-wrapper .top_header .top_hader_text span {
        display: block;
        width: 100%;
        float: left;
        padding: 3px 10px;
        margin: 0;
        line-height: normal;
    }
    .owl-banner-carousel .owl-stage-outer .content h1:not(.slidetextbig){
        font-size: 18px;
        margin: 12px auto;
    }
    .owl-banner-carousel .owl-stage-outer .content center h1:first-child{
        padding: 0;
    }
    .owl-banner-carousel .owl-stage-outer .content h1.slidetextbig{
        font-size: 22px;
    }
    .buttonslide button:not(.primary){
        font-size: 16px;
        padding: 4px 20px;
    }
	footer .block.newsletter .actions {
    margin: 0px auto;
    float: none;
    text-align: center;
    width: 25%;
    padding: 0px 4px;
   }
   .block.newsletter .field {
    width: 70%;
 }
}
@media (max-width: 560px) {
		.block-category-list .block-title{
	    margin-left: 85px;
    margin-bottom: 15px;
	    margin-top: 4px;

}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: -295px;
    left: -25px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -25px;
    /* vertical-align: middle; */
    top: -295px;
}
}
@media (max-width: 520px) {
    .wrapper.products-grid:not(.side-list):not(.products-related):not(.small-list) .owl-carousel .product-item .product-item-photo img{
        height: 150px;
    }
    .products.wrapper .product-items.masonry-grid .grid:not(.double) .product-image-photo.default_image{
        height: 230px;
    }
    .products-grid .product-item .product-item-details .product-item-name{
        padding-right: 0;
    }
    .owl-banner-carousel .owl-stage-outer .content h1:not(.slidetextbig){
        font-size: 16px;
    }
    .owl-banner-carousel .owl-stage-outer .content h1.slidetextbig{
        font-size: 22px;
    }
    .buttonslide button:not(.primary){
        font-size: 14px;
        padding: 2px 16px;
    }
    .owl-banner-carousel .owl-stage-outer .content center h1:first-child{
        padding: 0 10px;
        margin: 0;
    }
    .owl-banner-carousel .owl-stage-outer .content h1:not(.slidetextbig){
        margin: 12px auto;
    }
	.new-products .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -45px;
    /* vertical-align: middle; */
    top: 50px;
}
.new-products .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: 50px;
    left: -45px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: -200px;
    left: -25px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -25px;
    /* vertical-align: middle; */
    top: -200px;
}
}
@media (max-width: 480px) {
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 141px !important;
    }
    .masonry-grid .grid {
        width: 100%;
		display: inline-flex;
    }
    .masonry-grid .grid.double {
        width: 100%;
		 display: none;
    }
    .masonry-grid .grid:last-child .item {
        width: 100%;
    }
    .products-grid .product-item .product-item-details .flu_col_1{
        width: 100% !important;
    }
    .owl-banner-carousel .owl-stage-outer .content h1:not(.slidetextbig){
        font-size: 14px;
    }
    .owl-banner-carousel .owl-stage-outer .content h1.slidetextbig{
        font-size: 18px;
    }
    .buttonslide button:not(.primary){
        font-size: 12px;
        padding: 0px 15px;
    }
    .products.wrapper .product-items.masonry-grid .grid:not(.double) .product-image-photo.default_image{
        height: auto;
		width:auto;
    }
	#masonry_grid_new .masonry-grid .grid .product-item .product-item-details {padding: 0px 4px;margin-bottom: -6px;}
    #layer-product-list .product-image-photo.default_image{
        min-height: unset;
    }
    #layer-product-list .products-grid .product-item{
        float: left;
    }
    #layer-product-list .products-grid .product-item-info .product-item-details .product-item-actions .actions-secondary.towishlist:before{
        display: block;
        content: '\f816';
        font-family: 'porto-icons';
        font-size: 20px;
    }
    .product-description{
        padding: 0 15px;
    }
    .product-view-details{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .parallax-content .paraCon{
        width: 100% !important;
    }
    .parallax-content .whitelogo{
        left: 0;
        right: 0;
        margin: 25px auto;
        position: relative;
    }
    .page-wrapper .parallax-wrapper{
        height: 440px;
    }
    .parallax-content{
        text-align: center;
    }
	.products.wrapper .masonry-grid .item {
		    width: 50%;
	}
}
@media (max-width: 420px) {
    .parallax-content .bagpack{
        width: 100px;
    }
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 73px !important;
    }
    .fontResize{
        width: 150px;
        font-size: 12px;
    }
    .fontResize img {
        width: 50px !important;
    }
    .block.block-content .porto-icon-heart-1{
        left: 54% !important;
    }
    .page-header.type18 .minicart-wrapper{
        left: 88%;
        z-index: 0;
    }
    .page-header.type18 .block-search .label{
           margin-right: 46% !important
    }
	.featured-products .owl-carousel .owl-controls .owl-nav .owl-prev {
    position: absolute;
    background: transparent;
    color: #007d46;
    display: block !important;
    top: -230px;
    left: -25px;
}
.featured-products .owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    z-index: 1;
    background: transparent;
    color: #007d46;
    display: block !important;
    right: -25px;
    /* vertical-align: middle; */
    top: -230px;
}
}
@media (max-width: 360px){
    .header .nav-toggle {
        bottom: -5px !important;
    }
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 73px !important;
    }
    .page-header.type18 .logo {
    width: 250px;
    margin-bottom: 30px;
    margin-left: 35px;
}
    .page-header.type18 .minicart-wrapper .action.showcart .counter.qty {
        margin-top: 58px;
    }

    .page-header .block.block-content .porto-icon-heart-1 {
        left: 55% !important;
    }
    .page-header.type18 .block-search .label:before, .header .nav-toggle:before{
        font-size: 18px;
    }
    .page-header.type18 .minicart-wrapper .action.showcart .counter-number:before{
        font-size: 20px;
    }
    .block.block-content .porto-icon-heart-1, .block-content .porto-icon-user{
        font-size: 20px;
    }
    .page-header.type18 .minicart-wrapper{
        bottom: 50px !important;
    }
    .page-header.type18 .block-search .label{
        bottom: 18px;
    }
    .header .nav-toggle{
        bottom: 45px;
    }
}
@media (max-width: 375px) {
	.page-header.type18 .minicart-wrapper .action.showcart .counter-number {margin-top: 0px;}
	.breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-main, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container {padding-bottom: 8px;}
	/*.block-content .porto-icon-user {top: -55px;}
	.block.block-content .porto-icon-heart-1 {top: -55px;}*/
	.page-header.type18 .block-search .label {bottom: 8px;}
	.product-view-details {margin-bottom: -50px; }
	.product-info-main .page-title-wrapper .page-title {font-size: 18px; margin-top: 13px;}
	.nwtkco-column-heading h2 .nwtkco-additional-header-text {margin-top: -475px;}
	.header .logo {padding: 0px 0;}
    .product-info-main .moved-add-to-links {float: right;}
	#masonry_grid_new .masonry-grid .grid .product-item .product-item-details { padding: 0px 3px; margin-bottom: 0px;}
	.toolbar select {height:32px !important;}
	.sorter-label {display:none;}
	.block-title::after {display:none !important;}
	.block .block-title {margin: 10px 0 10px 0px !important;}
	#cookienotification-block {padding: 5px 0 5px 4% !important;line-height: 1em !important;}
}
@media (max-width: 414px) {
    .product-info-main .moved-add-to-links {
        float: right;
    }
}
/*Responsive close*/



.minicart-wrapper .block-minicart{

    right: 0 !important;
    width: 450px !important;
    margin-top: 0px;
    /* background-color: #598D32; */
    color: #21293c;
}
.checkout-cart-index .page-main,.checkout-index-index .page-main{background: #f4f4f4;}
.product-options-bottom .price-final_pric{display:none;}
.product-info-price .price-box{text-align: right;}
.product-info-price .price-box .old-price{position: absolute;margin-top: 35px;}
/* .product-options-wrapper .swatch-opt .swatch-attribute {display: inline-flex; width: 100%; } */
.product-options-wrapper .swatch-opt .swatch-attribute .swatch-attribute-label {font-size: 14px;color: #000; width: 100%;font-weight: 600;}
.product-options-wrapper .swatch-opt .swatch-attribute .swatch-attribute-options {padding: 0;margin-top: 1px;}
.product-options-wrapper .swatch-opt .swatch-attribute .swatch-option.text.selected {background: #21293c !important;color: #fff;border: 0;}
.product-options-wrapper .swatch-opt .swatch-attribute .swatch-option.image.selected {border: none;border-bottom: 2px solid transparent;padding: 20px;
    border-color: #000;}
/* .product-options-wrapper .swatch-attribute-selected-option {display: none;} */
#maincontent {background: #fff;}
.product .price-box .price{color: #017d46;}
.action.primary:hover{background: #81C14B;border: 1px solid #81C14B;}
.product-options-wrapper .swatch-opt .swatch-attribute-options .image {border: none;border-bottom: 2px solid transparent;background-color: transparent;
 margin: 0 5px 2px;padding: 20px;}
.wishlist-index-index .products-grid .product-items .product-item {
    width: 30%;
}
.product-item-name>a:hover{text-decoration: none;}
#wishlist-view-form .product-item-name>a{font-size: 15px;color: #017d46;}
#wishlist-view-form .price-box .price{color: #017d46;}
#wishlist-view-form .product-item-info .product-item-actions .edit {background: #017d46;padding: 10px;color: #fff;}
#wishlist-view-form .product-item-info .product-item-actions .btn-remove{background: #017d46;padding: 10px;color: #fff;}
.account-nav .nav > li {border-bottom: 0px;}
.sidebar.sidebar-main .content{padding-left: 15px;}
.sidebar.sidebar-main .title{padding-top: 10px;text-align: center;}
.page-footer .footer{width: 1280px;margin: 0 auto;overflow: hidden;max-width: 100%;}
.cms-index-index .footer{width: 1250px;margin: 0 auto;overflow: hidden;max-width: 100%;}
.product-info-main .product-info-price {margin-bottom: 0px;}
.product-info-main .product-options-bottom .box-tocart {margin-top: 7px !important;}
.swatch-attribute-selected-option {color: #646464;padding-left: 4px !important;font-size: 15px;}
.swatch-option.text{font-size: 14px !important;font-weight: 400;line-height: 30px !important;min-width: 36px !important;min-height: 34px;display: block;border: 1px solid transparent;border-color: #000;padding: 0px !important;background: #ffffff !important;}
.swatch-option.text:not(.disabled):hover {color: #333;border: 0px solid #acacac !important;background: #acacac !important;}
.swatch-option.image:not(.disabled):hover, .swatch-option.color:not(.disabled):hover {border-color: #acacac !important;}
/* .page-header.type18 {background-color: #fff;color: #4a4a4a;border-top-width: 0;width: 1280px;margin: 0 auto;max-width: 100%;}
.page-wrapper .top_header_contaner{width: 1280px;margin: 0 auto;max-width: 100%;}
.cms-index-index .page-header.type18 {background-color: #fff;color: #4a4a4a;border-top-width: 0;width: 1250px;margin: 0 auto;max-width: 100%;}
.cms-index-index .page-wrapper .top_header_contaner{width: 1250px;margin: 0 auto;max-width: 100%;}
.container {width: 1280px;max-width: 100%;} */
.container {width: 1280px;max-width: 100%;} 
/* .product-options-bottom .price-box, .product-info-price .price-box {
    padding-bottom: 10px !important;
} */
.flu_col_2 .product .action.towishlist{border: 1px solid #e2e2e2;background: #ffffff !important;}
.flu_col_2 .product .action.towishlist:hover{color: #ed4949;}
.column .move-product-tab{font-size: 16px;line-height: 25px;padding-left: 20px;padding-right: 20px;}
.sidebar-main .cate_list_block .cate_title{border: none;background-color: transparent;font-size: 15px;text-transform: uppercase;font-weight: 600;color: #21293c;letter-spacing: 0.01em;}
.sidebar-main .cate_list_block .cat-items .cate_title{color: #000;font-size: 13px;font-family: "Roboto" , "sans-serif";}
.sidebar-main .cate_list_block .cat-items {padding: 0;margin: 0;padding-left: 15px;padding-top: 10px;}
.sidebar-main .cate_list_block .cate_main_title  {border: none;background-color: transparent;font-size: 16px;text-transform: uppercase;font-weight: 700;color: #21293c;letter-spacing: 0.01em;font-family: "Roboto" , "sans-serif";}
.upsell .block-title strong{
	color: #636363 !important;
    margin-top: 20px;
    width: 100%;
    display: inline-block;
    padding-bottom: 0;
    font-size: 18px;
    font-family: Roboto; 
    font-weight: 400 !important;}
.block.upsell .title{border: 0 !important;margin-bottom: 0px !important;
    padding-bottom: 0px !important;}
.fieldset>.field.qty{margin-right: 1px;}
.product-add-form .box-tocart .fieldset{text-align: right;}
.minicart-items .product-item-name a {
    color: #21293c;
    font-size: 18px;
}
.minicart-items .product-item-pricing .label {
    display: inline-block;
    width: 4.5rem;
    font-size: 15px;
    font-weight: 400;
}
.minicart-items .action.edit:before, .minicart-items .action.delete:before {
    font-size: 25px;
    color: #017d46;
}
.minicart-items .product-item-details .price {
    color: #017d46;
}
.block-minicart .subtotal .label{padding-right: 5px;font-size: 15px;font-weight: 500;}

/* .sidebar-main .cate_list_block .cate_main_title.ups_arrow:after{content: '\f800';font-family: 'porto-icons';width: 26px;text-align: right;right: 23px;position: absolute;height: 26px;font-weight: 500;} */
.block-minicart .subtotal {
    text-align: left;
    float: left;
    display: flex;
}
.block-minicart .amount .price-wrapper:first-child .price {
    font-size: 17px;
    font-weight: 700;
    color: #017d46;
}
.product-social-links .product-addto-links a.action{    height: 43px;
    width: 43px;
    display: table;
    float: left;
    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 0;
    -webkit-border-radius: 0;}
.product-social-links .product-addto-links a.action i{
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
    color: #555;
}
.product-social-links .product-addto-links a.action .porto-icon-facebook:hover{color: #3b5998;}
.product-social-links .product-addto-links a.towishlist:hover{color: #ed4949;}
.block-minicart .items-total .count {
    color: #017d46;
    font-size: 15px;
}
.block-minicart .items-total {
    float: right;
    margin-top: 0px;
}
.block-minicart .items-total span{font-size: 15px;
    font-weight: 400;}
.cat-items .cat-item a{color: #007d46;}
.page-main>.page-title-wrapper .page-title {
    color: #007d46;
}
.cart.table-wrapper .product-item-name>a {color: #007d46;}
.cart.table-wrapper .col.subtotal .price {color: #007d46;}
.cart.table-wrapper .actions-toolbar>.action-edit:before, .cart.table-wrapper .actions-toolbar>.action-delete:before{-webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 20px;
    color: #007d46;
    /*content: '\f826';*/
    font-family: 'porto-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;}
.cart-discount .block>.title strong{color: #007d46;}
a, .alink {
    color: #017d46;
    text-decoration: none;
}
.authentication-wrapper button.action-auth-toggle{color: #017d46;}
a:hover, .alink:hover {
    color: #81C14B;
    text-decoration: none;
}
a:visited, .alink:visited {
    color: #017d46;
    text-decoration: none;
}
#search_mini_form .search-autocomplete {    
right: 370px;
position: relative !important;
top: 35px;
}
.block-search .block-content .frilu_user {
    color: #000;
    text-decoration: none;
    transition: none;
    clear: both;
    top: 0px;
    position: absolute;
}
.block-search .block-content .frilu_wishlist {
    color: #000;
    text-decoration: none;
    transition: none;
    clear: both;
    top: 0px;
    position: absolute;
}
.block.block-content .porto-icon-heart-1 {
    left: 65px;
    position: relative;
}
.footer-middle-2 .block-content ul li a{
    color: #ffffff;
    text-decoration: none;
}
.search-autocomplete ul li .qs-option-name{font-size: 16px;
    font-weight: 500; padding:5px 5px;}
	
.nav-sections .nav-sections-items .nav-sections-item-title:nth-child(3){display:none;}
@media only screen and (max-width: 767px){
.product-addto-links .action.towishlist{width: 41px;height: 43px;line-height: 40px;}
.product-add-form .moved-add-to-links .action:last-child{height: 43px;width: 41px;}	
.catalog-product-view .product.media{clear: both;position: relative;margin: 0;padding-top: 0px;}
.product-info-main .product.overview .value {
        font-size: 15px;
    font-family: Roboto;
    text-align: left;
}
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 141px !important;
    }
.product-info-main .product-info-stock-sku .available:before {
    content: "\f058";
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 5px;
}
.product-info-main .product-info-stock-sku .available {
    position: relative;
    color: #007d46;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
}
.product-view-details .product-info-price .price-box .price-container .price {
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    color: #017d46;
}
footer .foot-content {
    background: url(../images/footer-bg.jpg)no-repeat;
    background-size: 300% auto;
    padding: 0;
    padding-top: 225px
}
.footer-middle.footer-middle-2 {
    padding-top: 40px;
    padding-bottom: 50px;
    background: #262626;
}
.minisearch #search{
    display: none;
}
.page-wrapper .category-image {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.page-wrapper .top_header_contaner{display:none;}
.type18 .fontResize{display:none;}
.page-header.type18 .logo {
    width: 250px;
        margin-bottom: 45px;
    margin-left: 235px;
}
header.page-header .nav-sections-item-title {
    background: #09814c;
    display: none;
}
header.page-header .nav-sections-item-title.active>a, header.page-header .nav-sections-item-title.active>a:hover {
	color: #09814c;
    display: none;
}
.navigation a:hover {
    color: #09814c !important;
}
.product-info-price .old-price .price-container .price-wrapper{    vertical-align: bottom;
    margin-bottom: 18px !important;
    margin-top: -7px;}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: 0 0 3px 1px #017d46;
}
#search_mini_form .search-autocomplete {
    right: 0;
    position: absolute !important;
    top: 103px;
}
.block-search .block-content .frilu_wishlist {
    color: #000;
    text-decoration: none;
    transition: none;
    clear: both;
    top: -55px;
    position: relative;
}
.block-search .block-content .frilu_user {
    color: #000;
    text-decoration: none;
    transition: none;
    clear: both;
    top: -55px;
    position: relative;
}
.block.block-content .porto-icon-heart-1 {
    left: 60%;
    position: relative;
}
}
@media only screen and (max-width: 680px){
	.block-title::after {display:none !important;}	
	.block.block-content .porto-icon-heart-1 {
    left: 60%;
    position: relative;
}
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 141px !important;
    }
header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 200px;
}
}
@media only screen and (max-width: 650px){
	.block-title::after {display:none !important;}	
	header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 170px;
}
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 141px !important;
    }
}
@media only screen and (max-width: 600px){
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 141px !important;
    }
	.block-title::after {display:none !important;}	
.block.block-content .porto-icon-heart-1 {
    left: 60%;
    position: relative;
}	
.page-header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 155px;
}
}
@media only screen and (max-width: 560px){
.block-title::after {display:none !important;}	
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 141px !important;
    }
/* footer .foot-content { padding-top: 140px} */
footer .foot-content {
    background: url(../images/footer-bg.jpg)no-repeat;
    background-size: 350% auto;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
}
footer .foot-content .footer-middle {
	background: #262626;
    padding-top: 0px;
	
}	
.block-category-list .block-title {
    padding: 0px 7px 0px 5px !important; 
}
.page-header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 125px;
}
.minicart-wrapper #minicart-content-wrapper {
	    width: 80%;
    text-align: center;
    /* position: relative; */
    margin-left: 10%;
	
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus {
    box-shadow: 0 0 3px 1px #017d46;
}
}

@media (max-width: 480px){
.block-title::after {display:none !important;}	
.products-grid .product-item {
    float: none;
    padding: 10px 10px !important;
}
.page-wrapper .cat_img_text p{
	font-size: 25px;
    margin-bottom: 4px;
}
.page-header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 65px;
}
.minicart-wrapper #minicart-content-wrapper {
       width: 75%;
    text-align: center;
    /* position: relative; */
    margin-left: 21%;
}
.product-view-details{
	padding-top:0;
}

}
@media (max-width: 420px){
.minicart-wrapper #minicart-content-wrapper {
width: 70%;
    text-align: center;
    /* position: relative; */
    margin-left: 27%;
}
.page-header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 60px;
}
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 73px !important;
    }
}
@media only screen and (max-width: 400px){
/* footer .foot-content { padding-top: 100px} */
footer .foot-content {
    background: url(../images/footer-bg.jpg)no-repeat;
    background-size: 400% auto;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
}
footer .foot-content .footer-middle {
	background: #262626;
    padding-top: 0px;
	
}
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {
        line-height: 73px !important;
    }
.page-header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 40px;
}
}
@media (max-width: 320px){
	.block-category-list .block-title strong {margin-left: -16px;}
.page-header.type18 .logo {
    width: 250px;
    margin-bottom: 45px;
    margin-left: 22px;
}
.minicart-wrapper #minicart-content-wrapper {
    width: 65%;
    text-align: center;
    /* position: relative; */
    margin-left: 33%;
}
	
}

.page-header.type18 .navigation li.level0.fullwidth .submenu a, .page-header.type18 .navigation li.level0.classic .submenu a, .page-header.type18 .navigation li.level0.staticwidth .submenu a{
	color:#111111 !important;
}
.page-header.type18 .navigation li.level0.fullwidth .submenu li.level1 > a, .page-header.type18 .navigation li.level0.staticwidth .submenu li.level1 > a{
	
	    font-size: 15px !important;
}
.page-products .columns {
    position: relative;
    z-index: 1;
    padding-top: 2px;
}
.columns .column.main {
    padding-bottom: 0px !important;
}
.home-banner-content {
    padding-bottom: 0px !important;
}
element.style {
    padding: 0px !important;
}
.page-main {
    padding-top: 20px;
    padding-bottom: 0px;
}
.product-info-main .product-info-price .price-box .price-final_price > span:last-child {margin-left: -60px;margin-bottom: 5px;}

.block-search .block-content {
    margin-bottom: 0;
    margin-bottom: -52px;
}
.nav-sections-item-content > .navigation {
    text-align: center !important;
}
.block-minicart .block-content > .actions > .secondary {

    display: none;
}

@media (max-width: 767px) {
    .page-wrapper .parallax-wrapper {
        height: 250px;
    }
}
@media (max-width: 650px){
.parallax-content .bagpack {
    float:left;
    }
    }
@media (max-width: 480px) {
.parallax-content .paraCon {
    width: 70% !important;
}
    .parallax-content .paraCon {
        width: 62% !important;
    }
}
@media (max-width: 429px) {
    .nwtkco-column-heading h2 .nwtkco-additional-header-text {line-height: 73px !important;}
}

.product-info-main .box-tocart {margin-top: 6px;}
.fotorama__arr--next .fotorama__arr__arr:before {line-height: 2;color: rgba(213, 213, 213, 0);}
.fotorama__arr--prev .fotorama__arr__arr:before {line-height: 2;color: rgba(213, 213, 213, 0);}
.fotorama__arr:active, .fotorama__thumb__arr:active {background-color: rgba(213, 213, 213, 0);}

button#btn-cookienotification-more {padding: 0px 10px 0px 10px !important; border-radius: 3px;}

button#btn-cookienotification-allow {padding: 0px 10px 0px 10px !important;border-radius: 3px;font-size: 14px;}


.pages .items {padding: 2px 0px 0px 0px !important;}
.pages .action.next:before {margin: 0px 0px 0px 4px;}
	.pages strong.page {padding: 0 9.5px !important;}
	.pages a.page {padding: 0 9.5px !important;}
	
.toolbar-amount {position: absolute !important;  padding-left: 18px !important;  padding-top: 10px !important;}

.products.wrapper ~ .toolbar .limiter {margin-bottom: 5px;}
.page-wrapper .page-header .logo {margin: 7px 0 5px 0;}
.pages a.page:visited {color: #007d46;}

.opc-wrapper .form-login { padding-bottom: 0px !important;}
.opc-progress-bar-item>span {font-size: 1rem !important;}
.fieldset>.field, .fieldset>.fields>.field {margin: 0 0 5px !important;}
.opc-wrapper .step-content {margin: 0 0 0px !important;}
.fieldset>.field>.label, .fieldset>.fields>.field>.label {font-size: 1rem !important;margin: 0 0 0px;}
.opc-wrapper .step-title, .opc-block-shipping-information .shipping-information-title, .opc-block-summary>.title, .checkout-agreements-items .checkout-agreements-item-title {font-size: 1.5rem !important;}
.opc-progress-bar {margin: 0 0 5px !important;}
.opc-progress-bar-item._active:before {background: #007d46 !important;}
.opc-progress-bar-item:before {background: #007d46 !important;}
.opc-progress-bar-item._active>span:before {background: #007d46 !important;}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    font-size: 12px;
    height: 30px;
    line-height: 1.4;
	}

.opc-wrapper .form-login, .opc-wrapper .form-shipping-address {margin-top: 5px;margin-bottom: 20px;}
.table-checkout-shipping-method tbody td {padding-bottom: 5px;padding-top: 5px;}
button.klarna img {display: none;visibility: hidden;}
.swatch-option-tooltip{
    display: none !important;
}
